app/ejercicios4.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a class="ico-menu" href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
              <li><a class="ico-menu menu--active c-red" href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA FEEDBACK</a></li><a class="box-logo" href="index.html">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu submenu1"></div>
          </div>
          <div class="content-resumen" id="ejer3">
            <div class="box-titulo-resumen">
              <div class="col-md-1"><img src="img/iconos/pieza.png" alt=""></div>
              <div class="col-md-6">
                <div class="titulo">Caso práctico</div>
                <div class="texto">Marca según corresponda:</div>
              </div>
            </div>
            <div class="col-md-12 h-63">
              <div class="titulo c-plomo">2. ¿Qué habilidades debió utilizar el jefe con este colaborador?</div>
              <ul>
                <li><img class="img-responsive" src="img/an-1.jpg" alt="">
                  <div class="checkbox checkbox2 color-green">
                    <p>
                      <input id="check1" type="checkbox" name="rpta1" value="1">
                      <label class="color-green check-item" for="check1">Empatía</label>
                    </p>
                  </div>
                </li>
                <li><img class="img-responsive" src="img/an-2.jpg" alt="">
                  <div class="checkbox checkbox2 color-green">
                    <p>
                      <input id="check2" type="checkbox" name="rpta2" value="2">
                      <label class="color-green check-item" for="check2">Asertividad</label>
                    </p>
                  </div>
                </li>
                <li><img class="img-responsive" src="img/an-3.jpg" alt="">
                  <div class="checkbox checkbox2 color-green">
                    <p>
                      <input id="check3" type="checkbox" name="rpta3" value="3">
                      <label class="color-green check-item" for="check3">Pensamiento Analítico</label>
                    </p>
                  </div>
                </li>
                <li><img class="img-responsive" src="img/an-4.jpg" alt="">
                  <div class="checkbox checkbox2 color-green">
                    <p>
                      <input id="check4" type="checkbox" name="rpta4" value="4">
                      <label class="color-green check-item" for="check4">Objetividad</label>
                    </p>
                  </div>
                </li>
                <li><img class="img-responsive" src="img/an-5.jpg" alt="">
                  <div class="checkbox checkbox2 color-green">
                    <p>
                      <input id="check5" type="checkbox" name="rpta5" value="5">
                      <label class="color-green check-item" for="check5">Autocontrol</label>
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="ejercicios3.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="ejercicios5.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
          <footer>
            <p>Alicorp 2017 © Todos los derechos reservados.</p>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $("input:checkbox").on('click', function() {
        // in the handler, 'this' refers to the box clicked on
        var $box = $(this);
      
        if ($box.is(":checked"))
         {
          $box.prop("checked", true);
      
          var checkboxLen = $("input:checkbox:checked").length;
          var rpta3 = $( "input[name='rpta3']" ).is(":checked");
          var rpta5 = $( "input[name='rpta5']" ).is(":checked");
      
          if (checkboxLen == 2) {
            if (rpta3 && rpta5 ) {
              $(".good").show(500);
              location.assign("ejercicios4-bien.html");
            } else {
              $(".bad").show(500);
      
              location.assign("ejercicios4-mal.html");
      
            }
          }
        } else
        {
          $(".good, .bad").hide(500);
          $box.prop("checked", false);
        }
      });
    </script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>

app/views/ejercicios4.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a.ico-menu(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.ico-menu(href="feedback-taller.html") RDMA
                        li
                            a.ico-menu.menu--active.c-red(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu.submenu1

                .content-resumen#ejer3
                    .box-titulo-resumen
                        .col-md-1
                            img(src="img/iconos/pieza.png", alt="")
                        .col-md-6
                            .titulo Caso práctico
                            .texto Marca según corresponda:
                    .col-md-12.h-63
                        .titulo.c-plomo 2. ¿Qué habilidades debió utilizar el jefe con este colaborador?
                        ul
                            li
                                img.img-responsive(src="img/an-1.jpg", alt="")
                                .checkbox.checkbox2.color-green
                                    p
                                        input#check1(type='checkbox', name='rpta1', value='1')
                                        label.color-green.check-item(for='check1') Empatía
                            li
                                img.img-responsive(src="img/an-2.jpg", alt="")
                                .checkbox.checkbox2.color-green
                                    p
                                        input#check2(type='checkbox', name='rpta2', value='2')
                                        label.color-green.check-item(for='check2') Asertividad
                            li
                                img.img-responsive(src="img/an-3.jpg", alt="")
                                .checkbox.checkbox2.color-green
                                    p
                                        input#check3(type='checkbox', name='rpta3', value='3')
                                        label.color-green.check-item(for='check3') Pensamiento Analítico
                            li
                                img.img-responsive(src="img/an-4.jpg", alt="")
                                .checkbox.checkbox2.color-green
                                    p
                                        input#check4(type='checkbox', name='rpta4', value='4')
                                        label.color-green.check-item(for='check4') Objetividad
                            li
                                img.img-responsive(src="img/an-5.jpg", alt="")
                                .checkbox.checkbox2.color-green
                                    p
                                        input#check5(type='checkbox', name='rpta5', value='5')
                                        label.color-green.check-item(for='check5') Autocontrol


                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='ejercicios3.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='ejercicios5.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right


                include inc/footer

    script(type='text/javascript').
        $("input:checkbox").on('click', function() {
          // in the handler, 'this' refers to the box clicked on
          var $box = $(this);

          if ($box.is(":checked"))
           {
            $box.prop("checked", true);

            var checkboxLen = $("input:checkbox:checked").length;
            var rpta3 = $( "input[name='rpta3']" ).is(":checked");
            var rpta5 = $( "input[name='rpta5']" ).is(":checked");

            if (checkboxLen == 2) {
              if (rpta3 && rpta5 ) {
                $(".good").show(500);
                location.assign("ejercicios4-bien.html");
              } else {
                $(".bad").show(500);

                location.assign("ejercicios4-mal.html");

              }
            }
          } else
          {
            $(".good, .bad").hide(500);
            $box.prop("checked", false);
          }
        });
