app/ejercicios1.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a class="ico-menu" href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
              <li><a class="ico-menu menu--active c-red" href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA FEEDBACK</a></li><a class="box-logo" href="index.html">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu submenu1"></div>
          </div>
          <div class="content-resumen">
            <div class="box-titulo-resumen">
              <div class="col-md-1"><img src="img/iconos/pieza.png" alt=""></div>
              <div class="col-md-6">
                <div class="titulo">Caso práctico</div>
                <div class="texto">Lee con atención los siguientes perfiles:</div>
              </div>
            </div>
            <div class="box-col">
              <div class="col-md-6">
                <div class="nombre one occult">Pedro<img src="img/pedro.jpg" alt=""></div>
                <div class="box-three occult">
                  <div class="box-casos-e"><img class="pull-left" src="img/iconos/yellow.jpg" alt="">
                    <div class="texto-casos">Trabaja 12 años en Alicorp.</div>
                  </div>
                  <div class="box-casos-e"><img class="pull-left" src="img/iconos/yellow.jpg" alt="">
                    <div class="texto-casos">Conoce muy bien del proceso CPE y conoce  además, los procesos de su área.</div>
                  </div>
                  <div class="box-casos-e"><img class="pull-left" src="img/iconos/yellow.jpg" alt="">
                    <div class="texto-casos">Le cuesta sintetizar sus ideas, y no asume la responsabilidad de sus actos.</div>
                  </div>
                  <div class="box-casos-e"><img class="pull-left" src="img/iconos/yellow.jpg" alt="">
                    <div class="texto-casos">Tiene 3 de sus 5 objetivos en peligro de no llegar a la meta mínima y no esta cumpliendo todas las iniciativas.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="nombre two occult">Mateo<img src="img/juan.jpg" alt=""></div>
                <div class="box-four occult">
                  <div class="box-casos-e"><img class="pull-left" src="img/iconos/yellow.jpg" alt="">
                    <div class="texto-casos">Tiene 29 años, 2 años de experiencia<br> en Alicorp y 1 año liderando el<br> equipo.</div>
                  </div>
                  <div class="box-casos-e"><img class="pull-left" src="img/iconos/yellow.jpg" alt="">
                    <div class="texto-casos">Sabe que Pedro no está trabajando el Plan de Desarrollo de sus<br> Competencias.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="ejercicios.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="ejercicios2.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
          <footer>
            <p>Alicorp 2017 © Todos los derechos reservados.</p>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      if (!($(".lt-ie9").length)) {
      
          TweenLite.to(".one", 1, {opacity: 1, delay:.5});
          TweenLite.from(".one", 1, {y:"30px", delay:.5});
      
          TweenLite.to(".two", 1, {opacity: 1, delay:.5});
          TweenLite.from(".two", 1, {y:"30px", delay:.5});
      
          TweenLite.from(".box-three", 1, {scaleX:.4, scaleY:.4, delay:2, ease: "Back.easeOut"});
          TweenLite.to(".box-three", 1, {opacity: 1, delay:2});
      
          TweenLite.to(".box-four", 1, {opacity: 1, delay:2.5});
          TweenLite.from(".box-four", 1, {scaleX:.4, scaleY:.4, delay:2.5, ease: "Back.easeOut"});
      
      }
    </script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>

app/views/ejercicios1.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a.ico-menu(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.ico-menu(href="feedback-taller.html") RDMA
                        li
                            a.ico-menu.menu--active.c-red(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN

                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK


                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")

                    .sub-menu.submenu1
                .content-resumen
                    .box-titulo-resumen
                        .col-md-1
                            img(src="img/iconos/pieza.png", alt="")
                        .col-md-6
                            .titulo Caso práctico
                            .texto Lee con atención los siguientes perfiles:
                    .box-col
                        .col-md-6
                            .nombre.one.occult Pedro
                                img(src="img/pedro.jpg", alt="")
                            .box-three.occult
                                .box-casos-e
                                    img.pull-left(src="img/iconos/yellow.jpg", alt="")
                                    .texto-casos Trabaja 12 años en Alicorp.

                                .box-casos-e
                                    img.pull-left(src="img/iconos/yellow.jpg", alt="")
                                    .texto-casos Conoce muy bien del proceso CPE y conoce  además, los procesos de su área.

                                .box-casos-e
                                    img.pull-left(src="img/iconos/yellow.jpg", alt="")
                                    .texto-casos Le cuesta sintetizar sus ideas, y no asume la responsabilidad de sus actos.

                                .box-casos-e
                                    img.pull-left(src="img/iconos/yellow.jpg", alt="")
                                    .texto-casos Tiene 3 de sus 5 objetivos en peligro de no llegar a la meta mínima y no esta cumpliendo todas las iniciativas.

                        .col-md-6
                            .nombre.two.occult Mateo
                                img(src="img/juan.jpg", alt="")

                            .box-four.occult
                                .box-casos-e
                                    img.pull-left(src="img/iconos/yellow.jpg", alt="")
                                    .texto-casos Tiene 29 años, 2 años de experiencia<br> en Alicorp y 1 año liderando el<br> equipo.

                                .box-casos-e
                                    img.pull-left(src="img/iconos/yellow.jpg", alt="")
                                    .texto-casos Sabe que Pedro no está trabajando el Plan de Desarrollo de sus<br> Competencias.
                .row-btn
                        a.btn.btn-primary.button-crema-g.btn-l(href='ejercicios.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='ejercicios2.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right
                include inc/footer


    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.to(".one", 1, {opacity: 1, delay:.5});
            TweenLite.from(".one", 1, {y:"30px", delay:.5});

            TweenLite.to(".two", 1, {opacity: 1, delay:.5});
            TweenLite.from(".two", 1, {y:"30px", delay:.5});

            TweenLite.from(".box-three", 1, {scaleX:.4, scaleY:.4, delay:2, ease: "Back.easeOut"});
            TweenLite.to(".box-three", 1, {opacity: 1, delay:2});

            TweenLite.to(".box-four", 1, {opacity: 1, delay:2.5});
            TweenLite.from(".box-four", 1, {scaleX:.4, scaleY:.4, delay:2.5, ease: "Back.easeOut"});

        }
