app/views/feedback-antes8.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a.line-w(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después

                .valores
                    .row.val-1
                        p.titulo Habilidades del jefe
                        .col-md-4.box-1.occult
                            img(src="img/an-1.png", alt="")
                            h4 Empatía
                        .col-md-4.box-2.occult
                            img(src="img/an-2.png", alt="")
                            h4 Asertividad
                        .col-md-4.box-3.occult
                            img(src="img/an-3.png", alt="")
                            h4.mg-15 Pensamiento Analítico

                    .row.val-2
                        .col-md-2
                        .col-md-4.box-4.occult
                            img(src="img/an-4.png", alt="")
                            h4 Objetividad
                        .col-md-4.box-5.occult
                            img(src="img/an-5.png", alt="")
                            h4 Autocontrol
                        .col-md-2
                            .img-descarga
                                a(href="pdf/Habilidades del Jefe.pdf", download="")
                                    img(src="img/descarga.png", alt="")

                .row-intro-feedback.l-328
                    .row-btn
                        a.btn.btn-primary.button-crema-g.btn-l(href='feedback-antes7.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='feedback-antes9.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right

                include inc/footer

    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.from(".box-1", 1, {scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"});
            TweenLite.to(".box-1", 1, {opacity: 1, delay: .5});

            TweenLite.from(".box-2", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
            TweenLite.to(".box-2", 1, {opacity: 1, delay:1.5});

            TweenLite.from(".box-3", 1, {scaleX:.4, scaleY:.4, delay:2, ease: "Back.easeOut"});
            TweenLite.to(".box-3", 1, {opacity: 1, delay:2});

            TweenLite.to(".box-4", 1, {opacity: 1, delay:2.5});
            TweenLite.from(".box-4", 1, {scaleX:.4, scaleY:.4, delay:2.5, ease: "Back.easeOut"});

            TweenLite.to(".box-5", 1, {opacity: 1, delay:3});
            TweenLite.from(".box-5", 1, {scaleX:.4, scaleY:.4, delay:3, ease: "Back.easeOut"});


        }

app/feedback-antes8.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
              <li><a href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA FEEDBACK</a></li><a class="box-logo" href="index.html">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu">
              <div class="container-fluid">
                <ul class="list-inline">
                  <li><a href="feedback-taller.html">Inicio</a></li>
                  <li><a class="line-w" href="feedback-antes.html">Antes</a></li>
                  <li><a href="feedback-durante.html">Durante</a></li>
                  <li><a href="feedback-despues.html">Después</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="valores">
            <div class="row val-1">
              <p class="titulo">Habilidades del jefe</p>
              <div class="col-md-4 box-1 occult"><img src="img/an-1.png" alt="">
                <h4>Empatía</h4>
              </div>
              <div class="col-md-4 box-2 occult"><img src="img/an-2.png" alt="">
                <h4>Asertividad</h4>
              </div>
              <div class="col-md-4 box-3 occult"><img src="img/an-3.png" alt="">
                <h4 class="mg-15">Pensamiento Analítico</h4>
              </div>
            </div>
            <div class="row val-2">
              <div class="col-md-2"></div>
              <div class="col-md-4 box-4 occult"><img src="img/an-4.png" alt="">
                <h4>Objetividad</h4>
              </div>
              <div class="col-md-4 box-5 occult"><img src="img/an-5.png" alt="">
                <h4>Autocontrol</h4>
              </div>
              <div class="col-md-2">
                <div class="img-descarga"><a href="pdf/Habilidades del Jefe.pdf" download=""><img src="img/descarga.png" alt=""></a></div>
              </div>
            </div>
          </div>
          <div class="row-intro-feedback l-328">
            <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-antes7.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-antes9.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
          </div>
          <footer>
            <p>Alicorp 2017 © Todos los derechos reservados.</p>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      if (!($(".lt-ie9").length)) {
      
          TweenLite.from(".box-1", 1, {scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"});
          TweenLite.to(".box-1", 1, {opacity: 1, delay: .5});
      
          TweenLite.from(".box-2", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
          TweenLite.to(".box-2", 1, {opacity: 1, delay:1.5});
      
          TweenLite.from(".box-3", 1, {scaleX:.4, scaleY:.4, delay:2, ease: "Back.easeOut"});
          TweenLite.to(".box-3", 1, {opacity: 1, delay:2});
      
          TweenLite.to(".box-4", 1, {opacity: 1, delay:2.5});
          TweenLite.from(".box-4", 1, {scaleX:.4, scaleY:.4, delay:2.5, ease: "Back.easeOut"});
      
          TweenLite.to(".box-5", 1, {opacity: 1, delay:3});
          TweenLite.from(".box-5", 1, {scaleX:.4, scaleY:.4, delay:3, ease: "Back.easeOut"});
      
      
      }
    </script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>
