app/feedback-taller3b.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
              <li><a href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA FEEDBACK</a></li><a class="box-logo" href="index.html">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu">
              <div class="container-fluid">
                <ul class="list-inline">
                  <li><a class="line-w" href="feedback-taller.html">Inicio</a></li>
                  <li><a href="feedback-antes.html">Antes</a></li>
                  <li><a href="feedback-durante.html">Durante</a></li>
                  <li><a href="feedback-despues.html">Después</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="valt-feedback">
            <p class="titulo">2 tipos de feedback</p>
            <div class="row">
              <div class="tipo-2"><img class="occult one" src="img/circulo-n.png" alt=""><img class="c-top occult three" src="img/c-top.png" alt=""><img class="c-left occult two" src="img/c-left.png" alt=""><img class="c-right occult four" src="img/c-right.png" alt=""><img class="c-bottom occult five" src="img/c-bottom.png" alt=""><img class="tri-l occult" src="img/rr.png" alt=""><img class="tri-t occult" src="img/ll.png" alt=""><img class="tri-r occult" src="img/rr2.png" alt=""><img class="tri-b occult" src="img/bb2.png" alt=""></div>
            </div>
          </div>
          <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-taller3.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-taller4.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
          <footer>
            <p>Alicorp 2017 © Todos los derechos reservados.</p>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      if (!($(".lt-ie9").length)) {
      
          TweenLite.from(".one", 1, {scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"});
          TweenLite.to(".one", 1, {opacity: 1, delay: .5});
      
          TweenLite.from(".tri-l", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
          TweenLite.to(".tri-l", 1, {opacity: 1, delay:1.5});
      
          TweenLite.from(".two", 1, {scaleX:.4, scaleY:.4, delay:2, ease: "Back.easeOut"});
          TweenLite.to(".two", 1, {opacity: 1, delay:2});
      
          TweenLite.from(".tri-t", 1, {scaleX:.4, scaleY:.4, delay:2.5, ease: "Back.easeOut"});
          TweenLite.to(".tri-t", 1, {opacity: 1, delay:2.5});
      
          TweenLite.from(".three", 1, {scaleX:.4, scaleY:.4, delay:3, ease: "Back.easeOut"});
          TweenLite.to(".three", 1, {opacity: 1, delay:3});
      
          TweenLite.to(".tri-r", 1, {opacity: 1, delay:3.5});
          TweenLite.from(".tri-r", 1, {scaleX:.4, scaleY:.4, delay:3.5, ease: "Back.easeOut"});
      
          TweenLite.to(".four", 1, {opacity: 1, delay:4});
          TweenLite.from(".four", 1, {scaleX:.4, scaleY:.4, delay:4, ease: "Back.easeOut"});
      
          TweenLite.to(".tri-b", 1, {opacity: 1, delay:4.5});
          TweenLite.from(".tri-b", 1, {scaleX:.4, scaleY:.4, delay:4.5, ease: "Back.easeOut"});
      
          TweenLite.to(".five", 1, {opacity: 1, delay:5});
          TweenLite.from(".five", 1, {scaleX:.4, scaleY:.4, delay:5, ease: "Back.easeOut"});
      
          TweenLite.to(".six", 1, {opacity: 1, delay:5.5});
          TweenLite.from(".six", 1, {scaleX:.4, scaleY:.4, delay:5.5, ease: "Back.easeOut"});
      
      
      }
    </script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>

app/views/feedback-taller3b.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                       .container-fluid
                            ul.list-inline
                                li
                                    a.line-w(href='feedback-taller.html') Inicio
                                li
                                    a(href='feedback-antes.html') Antes
                                li
                                    a(href='feedback-durante.html') Durante
                                li
                                    a(href='feedback-despues.html') Después

                .valt-feedback
                    p.titulo 2 tipos de feedback
                    .row
                        .tipo-2
                            img.occult.one(src="img/circulo-n.png", alt="")
                            img.c-top.occult.three(src="img/c-top.png", alt="")
                            img.c-left.occult.two(src="img/c-left.png", alt="")
                            img.c-right.occult.four(src="img/c-right.png", alt="")
                            img.c-bottom.occult.five(src="img/c-bottom.png", alt="")
                            img.tri-l.occult(src="img/rr.png", alt="")
                            img.tri-t.occult(src="img/ll.png", alt="")
                            img.tri-r.occult(src="img/rr2.png", alt="")
                            img.tri-b.occult(src="img/bb2.png", alt="")



                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='feedback-taller3.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='feedback-taller4.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right

                include inc/footer


    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.from(".one", 1, {scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"});
            TweenLite.to(".one", 1, {opacity: 1, delay: .5});

            TweenLite.from(".tri-l", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
            TweenLite.to(".tri-l", 1, {opacity: 1, delay:1.5});

            TweenLite.from(".two", 1, {scaleX:.4, scaleY:.4, delay:2, ease: "Back.easeOut"});
            TweenLite.to(".two", 1, {opacity: 1, delay:2});

            TweenLite.from(".tri-t", 1, {scaleX:.4, scaleY:.4, delay:2.5, ease: "Back.easeOut"});
            TweenLite.to(".tri-t", 1, {opacity: 1, delay:2.5});

            TweenLite.from(".three", 1, {scaleX:.4, scaleY:.4, delay:3, ease: "Back.easeOut"});
            TweenLite.to(".three", 1, {opacity: 1, delay:3});

            TweenLite.to(".tri-r", 1, {opacity: 1, delay:3.5});
            TweenLite.from(".tri-r", 1, {scaleX:.4, scaleY:.4, delay:3.5, ease: "Back.easeOut"});

            TweenLite.to(".four", 1, {opacity: 1, delay:4});
            TweenLite.from(".four", 1, {scaleX:.4, scaleY:.4, delay:4, ease: "Back.easeOut"});

            TweenLite.to(".tri-b", 1, {opacity: 1, delay:4.5});
            TweenLite.from(".tri-b", 1, {scaleX:.4, scaleY:.4, delay:4.5, ease: "Back.easeOut"});

            TweenLite.to(".five", 1, {opacity: 1, delay:5});
            TweenLite.from(".five", 1, {scaleX:.4, scaleY:.4, delay:5, ease: "Back.easeOut"});

            TweenLite.to(".six", 1, {opacity: 1, delay:5.5});
            TweenLite.from(".six", 1, {scaleX:.4, scaleY:.4, delay:5.5, ease: "Back.easeOut"});


        }
