app/views/feedback-antes1.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a.line-w(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después
                .content-antes
                    p.titulo Recomendaciones antes del feedback de RDMA
                    .col-md-4.pd-0
                        .btn-green-antes.occult.box-1
                            .circle-num
                                p 1
                            h4 <strong>Recuérdale a tu equipo</strong> sobre el inicio del<br> proceso RDMA e invítalos a agendarte, si aún no lo ha hecho.

                        .btn-green-antes.occult.box-4
                            .circle-num
                                p 4
                            h4 Considera la posible reacción del colaborador frente al feedback y <strong>prepárate</strong> para manejarlo de la mejor manera.
                    .col-md-4.pd-0
                        .btn-green-antes.occult.box-2
                            .circle-num
                                p 2
                            h4 Asegúrate que el colaborador haya <strong>actualizado el avance</strong> de sus objetivos antes de la sesión en <strong>Destaca</strong>

                        .btn-green-antes.occult.box-5
                            .circle-num
                                p 5
                            h4 Asegúrate de tomar en cuenta todos los imprevistos que pudieran ocurrir, con el objetivo de evitar <strong>reagendar la cita.</strong>
                    .col-md-4.pd-0
                        .btn-green-antes.occult.box-3
                            .circle-num
                                p 3
                            h4 Identifica <strong>información relevante</strong> (objetivos y competencias) y válida (evidencias, casos y datos). <strong>Pide insumos</strong> si los necesitas. Organiza el feedback

                        .btn-green-antes.occult.box-6
                            .circle-num
                                p 6
                            h4 Si tienes <strong>dudas</strong> respecto al manejo de un caso, <strong>pide asesoría</strong> a tu jefe inmediato y/o a tu Business Partner de Recursos Humanos.

                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='feedback-antes.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='feedback-antes3.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right

                include inc/footer



    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.from(".box-1", 1, {scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"});
            TweenLite.to(".box-1", 1, {opacity: 1, delay: .5});

            TweenLite.from(".box-2", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
            TweenLite.to(".box-2", 1, {opacity: 1, delay:1.5});

            TweenLite.from(".box-3", 1, {scaleX:.4, scaleY:.4, delay:2, ease: "Back.easeOut"});
            TweenLite.to(".box-3", 1, {opacity: 1, delay:2});

            TweenLite.to(".box-4", 1, {opacity: 1, delay:2.5});
            TweenLite.from(".box-4", 1, {scaleX:.4, scaleY:.4, delay:2.5, ease: "Back.easeOut"});

            TweenLite.to(".box-5", 1, {opacity: 1, delay:3});
            TweenLite.from(".box-5", 1, {scaleX:.4, scaleY:.4, delay:3, ease: "Back.easeOut"});

            TweenLite.to(".box-6", 1, {opacity: 1, delay:3.5});
            TweenLite.from(".box-6", 1, {scaleX:.4, scaleY:.4, delay:3.5, ease: "Back.easeOut"});


        }

app/feedback-antes1.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
              <li><a href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA FEEDBACK</a></li><a class="box-logo" href="index.html">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu">
              <div class="container-fluid">
                <ul class="list-inline">
                  <li><a href="feedback-taller.html">Inicio</a></li>
                  <li><a class="line-w" href="feedback-antes.html">Antes</a></li>
                  <li><a href="feedback-durante.html">Durante</a></li>
                  <li><a href="feedback-despues.html">Después</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="content-antes">
            <p class="titulo">Recomendaciones antes del feedback de RDMA</p>
            <div class="col-md-4 pd-0">
              <div class="btn-green-antes occult box-1">
                <div class="circle-num">
                  <p>1</p>
                </div>
                <h4><strong>Recuérdale a tu equipo</strong> sobre el inicio del<br> proceso RDMA e invítalos a agendarte, si aún no lo ha hecho.</h4>
              </div>
              <div class="btn-green-antes occult box-4">
                <div class="circle-num">
                  <p>4</p>
                </div>
                <h4>Considera la posible reacción del colaborador frente al feedback y <strong>prepárate</strong> para manejarlo de la mejor manera.</h4>
              </div>
            </div>
            <div class="col-md-4 pd-0">
              <div class="btn-green-antes occult box-2">
                <div class="circle-num">
                  <p>2</p>
                </div>
                <h4>Asegúrate que el colaborador haya <strong>actualizado el avance</strong> de sus objetivos antes de la sesión en <strong>Destaca</strong></h4>
              </div>
              <div class="btn-green-antes occult box-5">
                <div class="circle-num">
                  <p>5</p>
                </div>
                <h4>Asegúrate de tomar en cuenta todos los imprevistos que pudieran ocurrir, con el objetivo de evitar <strong>reagendar la cita.</strong></h4>
              </div>
            </div>
            <div class="col-md-4 pd-0">
              <div class="btn-green-antes occult box-3">
                <div class="circle-num">
                  <p>3</p>
                </div>
                <h4>Identifica <strong>información relevante</strong> (objetivos y competencias) y válida (evidencias, casos y datos). <strong>Pide insumos</strong> si los necesitas. Organiza el feedback</h4>
              </div>
              <div class="btn-green-antes occult box-6">
                <div class="circle-num">
                  <p>6</p>
                </div>
                <h4>Si tienes <strong>dudas</strong> respecto al manejo de un caso, <strong>pide asesoría</strong> a tu jefe inmediato y/o a tu Business Partner de Recursos Humanos.</h4>
              </div>
            </div>
          </div>
          <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-antes.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-antes3.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
          <footer>
            <p>Alicorp 2017 © Todos los derechos reservados.</p>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      if (!($(".lt-ie9").length)) {
      
          TweenLite.from(".box-1", 1, {scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"});
          TweenLite.to(".box-1", 1, {opacity: 1, delay: .5});
      
          TweenLite.from(".box-2", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
          TweenLite.to(".box-2", 1, {opacity: 1, delay:1.5});
      
          TweenLite.from(".box-3", 1, {scaleX:.4, scaleY:.4, delay:2, ease: "Back.easeOut"});
          TweenLite.to(".box-3", 1, {opacity: 1, delay:2});
      
          TweenLite.to(".box-4", 1, {opacity: 1, delay:2.5});
          TweenLite.from(".box-4", 1, {scaleX:.4, scaleY:.4, delay:2.5, ease: "Back.easeOut"});
      
          TweenLite.to(".box-5", 1, {opacity: 1, delay:3});
          TweenLite.from(".box-5", 1, {scaleX:.4, scaleY:.4, delay:3, ease: "Back.easeOut"});
      
          TweenLite.to(".box-6", 1, {opacity: 1, delay:3.5});
          TweenLite.from(".box-6", 1, {scaleX:.4, scaleY:.4, delay:3.5, ease: "Back.easeOut"});
      
      
      }
    </script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>
