app/views/feedback-durante8.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a.line-w(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después

                .elige-a.durante8
                    .col-md-12.content
                        .col-md-3.col-left-elige
                            .p-elige Elige a qué <span>“A”</span> corresponde cada frase
                        .col-md-9.col-right-elige
                            p •Con respecto al objetivo… y a la iniciativa… he revisado la información…
                            .content-btn
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="1") Aclara
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="2") Analiza
                                a.btn.btn-primary.green-btn(hsref='#', role='button' data-value="3") Actúa

                            p •Hace un mes, en la reunión con… actuaste de forma…y evidenciaste…
                            .content-btn
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="4") Aclara
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="5") Analiza
                                a.btn.btn-primary.green-btn(hsref='#', role='button' data-value="6") Actúa

                            p •Háblame de las razones, de las acciones o de los comportamientos evidenciados…
                            .content-btn
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="7") Aclara
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="8") Analiza
                                a.btn.btn-primary.green-btn(hsref='#', role='button' data-value="9") Actúa

                            p •El impacto de esas acciones fue…
                            .content-btn
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="10") Aclara
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="11") Analiza
                                a.btn.btn-primary.green-btn(hsref='#', role='button' data-value="12") Actúa

                            P •Dime cómo consideras manejar este reto…
                            .content-btn
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="13") Aclara
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="14") Analiza
                                a.btn.btn-primary.green-btn(hsref='#', role='button' data-value="15") Actúa

                            P •A partir de ahora podemos hacer…
                            .content-btn
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="16") Aclara
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="17") Analiza
                                a.btn.btn-primary.green-btn(hsref='#', role='button' data-value="18") Actúa

                .row-btn
                    a.btn.btn-primary.green-btn.button-crema-g.btn-l(href='feedback-durante7.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.green-btn.button-crema-g.btn-r(href='feedback-despues.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right

                include inc/footer

app/feedback-durante8.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
              <li><a href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA FEEDBACK</a></li><a class="box-logo" href="index.html">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu">
              <div class="container-fluid">
                <ul class="list-inline">
                  <li><a href="feedback-taller.html">Inicio</a></li>
                  <li><a href="feedback-antes.html">Antes</a></li>
                  <li><a class="line-w" href="feedback-durante.html">Durante</a></li>
                  <li><a href="feedback-despues.html">Después</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="elige-a durante8">
            <div class="col-md-12 content">
              <div class="col-md-3 col-left-elige">
                <div class="p-elige">Elige a qué <span>“A”</span> corresponde cada frase</div>
              </div>
              <div class="col-md-9 col-right-elige">
                <p>•Con respecto al objetivo… y a la iniciativa… he revisado la información…</p>
                <div class="content-btn"><a class="btn btn-primary green-btn" href="#" role="button" data-value="1">Aclara</a><a class="btn btn-primary green-btn" href="#" role="button" data-value="2">Analiza</a><a class="btn btn-primary green-btn" hsref="#" role="button" data-value="3">Actúa</a></div>
                <p>•Hace un mes, en la reunión con… actuaste de forma…y evidenciaste…</p>
                <div class="content-btn"><a class="btn btn-primary green-btn" href="#" role="button" data-value="4">Aclara</a><a class="btn btn-primary green-btn" href="#" role="button" data-value="5">Analiza</a><a class="btn btn-primary green-btn" hsref="#" role="button" data-value="6">Actúa</a></div>
                <p>•Háblame de las razones, de las acciones o de los comportamientos evidenciados…</p>
                <div class="content-btn"><a class="btn btn-primary green-btn" href="#" role="button" data-value="7">Aclara</a><a class="btn btn-primary green-btn" href="#" role="button" data-value="8">Analiza</a><a class="btn btn-primary green-btn" hsref="#" role="button" data-value="9">Actúa</a></div>
                <p>•El impacto de esas acciones fue…</p>
                <div class="content-btn"><a class="btn btn-primary green-btn" href="#" role="button" data-value="10">Aclara</a><a class="btn btn-primary green-btn" href="#" role="button" data-value="11">Analiza</a><a class="btn btn-primary green-btn" hsref="#" role="button" data-value="12">Actúa</a></div>
                <P>•Dime cómo consideras manejar este reto…</P>
                <div class="content-btn"><a class="btn btn-primary green-btn" href="#" role="button" data-value="13">Aclara</a><a class="btn btn-primary green-btn" href="#" role="button" data-value="14">Analiza</a><a class="btn btn-primary green-btn" hsref="#" role="button" data-value="15">Actúa</a></div>
                <P>•A partir de ahora podemos hacer…</P>
                <div class="content-btn"><a class="btn btn-primary green-btn" href="#" role="button" data-value="16">Aclara</a><a class="btn btn-primary green-btn" href="#" role="button" data-value="17">Analiza</a><a class="btn btn-primary green-btn" hsref="#" role="button" data-value="18">Actúa</a></div>
              </div>
            </div>
          </div>
          <div class="row-btn"><a class="btn btn-primary green-btn button-crema-g btn-l" href="feedback-durante7.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary green-btn button-crema-g btn-r" href="feedback-despues.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
          <footer>
            <p>Alicorp 2017 © Todos los derechos reservados.</p>
          </footer>
        </div>
      </div>
    </div>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>
