app/views/feedback-despues1.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a.line-w(href='feedback-despues.html') Después

                .intro-despues
                    .titulo ¿Cómo saber con qué frecuencia dar feedback?<br>Identificamos 3 niveles de seguimiento:

                    .banderines
                        .col-md-4.left.occult
                            img(src="img/banderin-1.png", alt="")
                            h4 Casos con <strong>alta necesidad</strong><br> de seguimiento.
                        .col-md-4.pl-0.middle.occult
                            img(src="img/banderin-2.png", alt="")
                            h4 Casos con <strong>mediana necesidad</strong> de seguimiento.
                        .col-md-4.right.occult
                            img(src="img/banderin-3.png", alt="")
                            h4 Casos con <strong>baja necesidad</strong><br> de seguimiento.


                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='feedback-despues.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='feedback-despues2.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right

                include inc/footer


    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.from(".left", 1, {scaleX:.4, scaleY:.4, delay:1., ease: "Back.easeOut"});
            TweenLite.to(".left", 1, {opacity: 1, delay:1.});

            TweenLite.from(".middle", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
            TweenLite.to(".middle", 1, {opacity: 1, delay:1.5});

            TweenLite.from(".right", 1, {scaleX:.4, scaleY:.4, delay:2., ease: "Back.easeOut"});
            TweenLite.to(".right", 1, {opacity: 1, delay:2.});
        }

app/feedback-despues1.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
              <li><a href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA FEEDBACK</a></li><a class="box-logo" href="index.html">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu">
              <div class="container-fluid">
                <ul class="list-inline">
                  <li><a href="feedback-taller.html">Inicio</a></li>
                  <li><a href="feedback-antes.html">Antes</a></li>
                  <li><a href="feedback-durante.html">Durante</a></li>
                  <li><a class="line-w" href="feedback-despues.html">Después</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="intro-despues">
            <div class="titulo">¿Cómo saber con qué frecuencia dar feedback?<br>Identificamos 3 niveles de seguimiento:</div>
            <div class="banderines">
              <div class="col-md-4 left occult"><img src="img/banderin-1.png" alt="">
                <h4>Casos con <strong>alta necesidad</strong><br> de seguimiento.</h4>
              </div>
              <div class="col-md-4 pl-0 middle occult"><img src="img/banderin-2.png" alt="">
                <h4>Casos con <strong>mediana necesidad</strong> de seguimiento.</h4>
              </div>
              <div class="col-md-4 right occult"><img src="img/banderin-3.png" alt="">
                <h4>Casos con <strong>baja necesidad</strong><br> de seguimiento.</h4>
              </div>
            </div>
          </div>
          <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-despues.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-despues2.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
          <footer>
            <p>Alicorp 2017 © Todos los derechos reservados.</p>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      if (!($(".lt-ie9").length)) {
      
          TweenLite.from(".left", 1, {scaleX:.4, scaleY:.4, delay:1., ease: "Back.easeOut"});
          TweenLite.to(".left", 1, {opacity: 1, delay:1.});
      
          TweenLite.from(".middle", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
          TweenLite.to(".middle", 1, {opacity: 1, delay:1.5});
      
          TweenLite.from(".right", 1, {scaleX:.4, scaleY:.4, delay:2., ease: "Back.easeOut"});
          TweenLite.to(".right", 1, {opacity: 1, delay:2.});
      }
    </script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>
