app/views/feedback-taller1.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a.line-w(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después

                .etapas
                    .etapas-intro.pd-taller
                        .col-md-6
                            p.sub-titulo.c-green Etapa 2
                            .recuadro-procesos.bg-green.occult
                                p Revisión de Medio Año
                            .iconos-1
                                img.i-one.occult(src="img/iconos/line-1.png", alt="")
                                img.i-two.occult(src="img/iconos/c-green.png", alt="")

                        .col-md-6.pd-0
                            p.etapa.occult Es el momento formal en el que<br> <strong>revisamos el progreso de nuestros objetivos y el desarrollo de nuestras competencias,</strong> a través del feedback, <br>  para asegurar el éxito de nuestro desempeño para el presente año.

                    .row-btn
                        a.btn.btn-primary.button-crema-g.btn-l(href='feedback-taller.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='feedback-taller2.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right

                include inc/footer

    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".recuadro-procesos", 1, {opacity: 1, delay:.5});
            TweenLite.from(".recuadro-procesos", 1, {y:"50px", delay:.5});

            TweenLite.to(".i-one", 1, {opacity: 1, delay:.9});
            TweenLite.from(".i-one", 1, {y:"50px", delay:.9});

            TweenLite.to(".i-two", 1, {opacity: 1, delay: 1.2});
            TweenLite.from(".i-two", 1, {y:"20px", delay: 1.2});

            TweenLite.to(".etapa", 1, {opacity: 1, delay: 1.5});
            TweenLite.from(".etapa", 1, {y:"50px", delay: 1.5});


        }

app/feedback-taller1.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
              <li><a href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA FEEDBACK</a></li><a class="box-logo" href="index.html">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu">
              <div class="container-fluid">
                <ul class="list-inline">
                  <li><a class="line-w" href="feedback-taller.html">Inicio</a></li>
                  <li><a href="feedback-antes.html">Antes</a></li>
                  <li><a href="feedback-durante.html">Durante</a></li>
                  <li><a href="feedback-despues.html">Después</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="etapas">
            <div class="etapas-intro pd-taller">
              <div class="col-md-6">
                <p class="sub-titulo c-green">Etapa 2</p>
                <div class="recuadro-procesos bg-green occult">
                  <p>Revisión de Medio Año</p>
                </div>
                <div class="iconos-1"><img class="i-one occult" src="img/iconos/line-1.png" alt=""><img class="i-two occult" src="img/iconos/c-green.png" alt=""></div>
              </div>
              <div class="col-md-6 pd-0">
                <p class="etapa occult">Es el momento formal en el que<br> <strong>revisamos el progreso de nuestros objetivos y el desarrollo de nuestras competencias,</strong> a través del feedback, <br>  para asegurar el éxito de nuestro desempeño para el presente año.</p>
              </div>
            </div>
            <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-taller.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-taller2.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
          </div>
          <footer>
            <p>Alicorp 2017 © Todos los derechos reservados.</p>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      if (!($(".lt-ie9").length)) {
          TweenLite.to(".recuadro-procesos", 1, {opacity: 1, delay:.5});
          TweenLite.from(".recuadro-procesos", 1, {y:"50px", delay:.5});
      
          TweenLite.to(".i-one", 1, {opacity: 1, delay:.9});
          TweenLite.from(".i-one", 1, {y:"50px", delay:.9});
      
          TweenLite.to(".i-two", 1, {opacity: 1, delay: 1.2});
          TweenLite.from(".i-two", 1, {y:"20px", delay: 1.2});
      
          TweenLite.to(".etapa", 1, {opacity: 1, delay: 1.5});
          TweenLite.from(".etapa", 1, {y:"50px", delay: 1.5});
      
      
      }
    </script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>
