app/views/feedback-durante1.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a.line-w(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Duespués

                .feedback-metolodogia
                    .col-md-12
                        .titulo Metodologías y herramientas CPE - Alicorp
                        .texto.occult En la etapa de Planificación utilizamos las siguientes metodologías para la<br> definición de objetivos y plan de desarrollo.
                        .content-metolodogia
                            .col-md-6.left.occult
                                .metolodogia-left
                                    h4 Metodología SMART
                                    p Para la definición de objetivos.
                                    <br>
                                    img(src="img/durante1.jpg", alt="")

                            .col-md-6.right.occult
                                .metolodogia-left
                                    h4 Metodología 70:20:10
                                    p Para la definición del plan de desarrollo de competencias
                                    img.mrg-5(src="img/durante2.jpg", alt="")


                    .row-btn
                        a.btn.btn-primary.button-crema-g.btn-l(href='feedback-durante.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='feedback-durante2.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right

                    include inc/footer


    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.to(".texto", 1, {opacity: 1, delay:.5});
            TweenLite.from(".texto", 1, {y:"30px", delay:.5});

            TweenLite.from(".left", 1, {scaleX:.4, scaleY:.4, delay:1., ease: "Back.easeOut"});
            TweenLite.to(".left", 1, {opacity: 1, delay:1.});

            TweenLite.from(".right", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
            TweenLite.to(".right", 1, {opacity: 1, delay:1.5});


        }

app/feedback-durante1.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
              <li><a href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA FEEDBACK</a></li><a class="box-logo" href="index.html">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu">
              <div class="container-fluid">
                <ul class="list-inline">
                  <li><a href="feedback-taller.html">Inicio</a></li>
                  <li><a href="feedback-antes.html">Antes</a></li>
                  <li><a class="line-w" href="feedback-durante.html">Durante</a></li>
                  <li><a href="feedback-despues.html">Duespués</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="feedback-metolodogia">
            <div class="col-md-12">
              <div class="titulo">Metodologías y herramientas CPE - Alicorp</div>
              <div class="texto occult">En la etapa de Planificación utilizamos las siguientes metodologías para la<br> definición de objetivos y plan de desarrollo.</div>
              <div class="content-metolodogia">
                <div class="col-md-6 left occult">
                  <div class="metolodogia-left">
                    <h4>Metodología SMART</h4>
                    <p>Para la definición de objetivos.</p><br><img src="img/durante1.jpg" alt="">
                  </div>
                </div>
                <div class="col-md-6 right occult">
                  <div class="metolodogia-left">
                    <h4>Metodología 70:20:10</h4>
                    <p>Para la definición del plan de desarrollo de competencias</p><img class="mrg-5" src="img/durante2.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-durante.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-durante2.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
            <footer>
              <p>Alicorp 2017 © Todos los derechos reservados.</p>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      if (!($(".lt-ie9").length)) {
      
          TweenLite.to(".texto", 1, {opacity: 1, delay:.5});
          TweenLite.from(".texto", 1, {y:"30px", delay:.5});
      
          TweenLite.from(".left", 1, {scaleX:.4, scaleY:.4, delay:1., ease: "Back.easeOut"});
          TweenLite.to(".left", 1, {opacity: 1, delay:1.});
      
          TweenLite.from(".right", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
          TweenLite.to(".right", 1, {opacity: 1, delay:1.5});
      
      
      }
    </script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>
