app/feedback-durante4.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
              <li><a href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA FEEDBACK</a></li><a class="box-logo" href="index.html">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu">
              <div class="container-fluid">
                <ul class="list-inline">
                  <li><a href="feedback-taller.html">Inicio</a></li>
                  <li><a href="feedback-antes.html">Antes</a></li>
                  <li><a class="line-w" href="feedback-durante.html">Durante</a></li>
                  <li><a href="feedback-despues.html">Después</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="algunas-frase">
            <div class="col-md-12 content">
              <div class="col-md-4 col-left-frase"><img class="left occult" src="img/3b.png" alt="">
                <h4 class="left occult">Impacto<br> Influencia</h4>
              </div>
              <div class="col-md-8 col-right-frase">
                <div class="titulo">Algunas frases que puedes usar:</div><img class="img-center occult" src="img/iconos/3b.png" alt="">
                <div class="row analiza occult">
                  <div class="col-md-6">
                    <div class="box-items"><img class="pull-left" src="img/iconos/chat2.png" alt="">
                      <p>Mi percepción sobre el contexto fue…</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="box-items"><img class="pull-left" src="img/iconos/chat2.png" alt="">
                      <p>Háblame de las razones, de las acciones o de los comportamientos<br> evidenciados…</p>
                    </div>
                  </div>
                </div>
                <div class="row analiza occult">
                  <div class="col-md-6">
                    <div class="box-items"><img class="pull-left" src="img/iconos/chat2.png" alt="">
                      <p>Esto es relevante porque…</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="box-items"><img class="pull-left" src="img/iconos/chat2.png" alt="">
                      <p>El impacto de esas acciones<br> fue…</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-durante3.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-durante5.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
          <footer>
            <p>Alicorp 2017 © Todos los derechos reservados.</p>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      if (!($(".lt-ie9").length)) {
      
          TweenLite.to(".left", 1, {opacity: 1, delay:.5});
          TweenLite.from(".left", 1, {marginLeft: "-150px", delay:.5});
      
          TweenLite.to(".img-center", 1, {opacity: 1, delay:1.5});
          TweenLite.from(".img-center", 1, {y:"30px", delay:1.5});
      
          TweenLite.to(".analiza", 1, {opacity: 1, delay:2.3});
          TweenLite.from(".analiza", 1, {y:"30px", delay:2.3});
      
      
      }
    </script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>

app/views/feedback-durante4.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a.line-w(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después

                .algunas-frase
                    .col-md-12.content

                        .col-md-4.col-left-frase
                            img.left.occult(src="img/3b.png", alt="")
                            h4.left.occult Impacto<br> Influencia
                        .col-md-8.col-right-frase
                            .titulo Algunas frases que puedes usar:
                            img.img-center.occult(src="img/iconos/3b.png", alt="")

                            .row.analiza.occult
                                .col-md-6
                                    .box-items
                                        img.pull-left(src="img/iconos/chat2.png", alt="")
                                        p Mi percepción sobre el contexto fue…
                                .col-md-6
                                    .box-items
                                        img.pull-left(src="img/iconos/chat2.png", alt="")
                                        p Háblame de las razones, de las acciones o de los comportamientos<br> evidenciados…
                            .row.analiza.occult
                                .col-md-6
                                    .box-items
                                        img.pull-left(src="img/iconos/chat2.png", alt="")
                                        p Esto es relevante porque…
                                .col-md-6
                                    .box-items
                                        img.pull-left(src="img/iconos/chat2.png", alt="")
                                        p El impacto de esas acciones<br> fue…

                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='feedback-durante3.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='feedback-durante5.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right

                include inc/footer



    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.to(".left", 1, {opacity: 1, delay:.5});
            TweenLite.from(".left", 1, {marginLeft: "-150px", delay:.5});

            TweenLite.to(".img-center", 1, {opacity: 1, delay:1.5});
            TweenLite.from(".img-center", 1, {y:"30px", delay:1.5});

            TweenLite.to(".analiza", 1, {opacity: 1, delay:2.3});
            TweenLite.from(".analiza", 1, {y:"30px", delay:2.3});


        }
