app/views/feedback-taller4.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a.line-w(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después

                .valt-feedback
                    p.titulo ¿Cómo debe ser el feedback?
                    .como-feed
                        .col-md-6.col-left
                            .row
                                .col-md-6.pd-11
                                    .btn-feed-green.bg-gr.occult.one
                                        .text-val
                                            img(src="img/c-1.png", alt="")
                                            h4 A la medida
                                            p <strong>Se customiza de acuerdo</strong><br> al colaborador a quien<br> se dará feedback
                                .col-md-6
                                    .btn-feed-green1.bg-gcl.occult.two
                                        .text-val
                                            img(src="img/c-2.png", alt="")
                                            h4 Es claro
                                            p Los comportamientos<br> se basan <strong>en evidencias<br> y no en suposiciones.</strong>
                            .row
                                .col-md-6.text-right.pd-11
                                    img.mg-18(src="img/l-11.png", alt="")
                                .col-md-6
                                     .btn-feed-green.bg-gcla.occult.three
                                        .text-val
                                            img(src="img/c-5.png", alt="")
                                            h4 Es constructivo
                                            p Debe estar <strong>orientado<br> a motivar y desarrollar<br></strong> al colaborador
                            img.centro-img(src="img/f-1.png", alt="")
                        .col-md-6.col-right
                            .row
                                .col-md-6.pd-11
                                    .btn-feed-green.bg-gcl.occult.four
                                        .text-val
                                            img(src="img/c-3.png", alt="")
                                            h4 Es oportuno
                                            p Debe darse idealmente <strong>lo<br> más pronto posible</strong> luego<br> del evento
                                .col-md-6
                                    .btn-feed-green1.bg-gr.occult.five
                                        .text-val
                                            img(src="img/c-4.png", alt="")
                                            h4 Se registra
                                            p Con la finalidad de <strong>repasar</strong><br> los planes y acciones<br> definidas
                            .row
                                .col-md-6.pd-11
                                    .btn-feed-green1.bg-gcla.occult.six
                                        .text-val
                                            img(src="img/c-6.png", alt="")
                                            h4 Es coherente
                                            p <strong>Está alineado a lo que se<br> espera del colaborador</strong> y<br> a evidencias de su comportamiento
                                .col-md-6
                                    img.float-l(src="img/r-11.png", alt="")
                                    .img-descarga
                                        a(href="pdf/Como debe ser el feedback.pdf", download="")
                                            img(src="img/descarga.png", alt="")
                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='feedback-taller3b.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='feedback-taller5.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right

                include inc/footer


    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.from(".one", 1, {scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"});
            TweenLite.to(".one", 1, {opacity: 1, delay: .5});

            TweenLite.from(".two", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
            TweenLite.to(".two", 1, {opacity: 1, delay:1.5});

            TweenLite.from(".three", 1, {scaleX:.4, scaleY:.4, delay:2, ease: "Back.easeOut"});
            TweenLite.to(".three", 1, {opacity: 1, delay:2});

            TweenLite.to(".four", 1, {opacity: 1, delay:2.5});
            TweenLite.from(".four", 1, {scaleX:.4, scaleY:.4, delay:2.5, ease: "Back.easeOut"});

            TweenLite.to(".five", 1, {opacity: 1, delay:3});
            TweenLite.from(".five", 1, {scaleX:.4, scaleY:.4, delay:3, ease: "Back.easeOut"});

            TweenLite.to(".six", 1, {opacity: 1, delay:3.5});
            TweenLite.from(".six", 1, {scaleX:.4, scaleY:.4, delay:3.5, ease: "Back.easeOut"});


        }

app/feedback-taller4.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
              <li><a href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA FEEDBACK</a></li><a class="box-logo" href="index.html">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu">
              <div class="container-fluid">
                <ul class="list-inline">
                  <li><a class="line-w" href="feedback-taller.html">Inicio</a></li>
                  <li><a href="feedback-antes.html">Antes</a></li>
                  <li><a href="feedback-durante.html">Durante</a></li>
                  <li><a href="feedback-despues.html">Después</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="valt-feedback">
            <p class="titulo">¿Cómo debe ser el feedback?</p>
            <div class="como-feed">
              <div class="col-md-6 col-left">
                <div class="row">
                  <div class="col-md-6 pd-11">
                    <div class="btn-feed-green bg-gr occult one">
                      <div class="text-val"><img src="img/c-1.png" alt="">
                        <h4>A la medida</h4>
                        <p><strong>Se customiza de acuerdo</strong><br> al colaborador a quien<br> se dará feedback</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="btn-feed-green1 bg-gcl occult two">
                      <div class="text-val"><img src="img/c-2.png" alt="">
                        <h4>Es claro</h4>
                        <p>Los comportamientos<br> se basan <strong>en evidencias<br> y no en suposiciones.</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 text-right pd-11"><img class="mg-18" src="img/l-11.png" alt=""></div>
                  <div class="col-md-6">
                    <div class="btn-feed-green bg-gcla occult three">
                      <div class="text-val"><img src="img/c-5.png" alt="">
                        <h4>Es constructivo</h4>
                        <p>Debe estar <strong>orientado<br> a motivar y desarrollar<br></strong> al colaborador</p>
                      </div>
                    </div>
                  </div>
                </div><img class="centro-img" src="img/f-1.png" alt="">
              </div>
              <div class="col-md-6 col-right">
                <div class="row">
                  <div class="col-md-6 pd-11">
                    <div class="btn-feed-green bg-gcl occult four">
                      <div class="text-val"><img src="img/c-3.png" alt="">
                        <h4>Es oportuno</h4>
                        <p>Debe darse idealmente <strong>lo<br> más pronto posible</strong> luego<br> del evento</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="btn-feed-green1 bg-gr occult five">
                      <div class="text-val"><img src="img/c-4.png" alt="">
                        <h4>Se registra</h4>
                        <p>Con la finalidad de <strong>repasar</strong><br> los planes y acciones<br> definidas</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 pd-11">
                    <div class="btn-feed-green1 bg-gcla occult six">
                      <div class="text-val"><img src="img/c-6.png" alt="">
                        <h4>Es coherente</h4>
                        <p><strong>Está alineado a lo que se<br> espera del colaborador</strong> y<br> a evidencias de su comportamiento</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6"><img class="float-l" src="img/r-11.png" alt="">
                    <div class="img-descarga"><a href="pdf/Como debe ser el feedback.pdf" download=""><img src="img/descarga.png" alt=""></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-taller3b.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-taller5.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
          <footer>
            <p>Alicorp 2017 © Todos los derechos reservados.</p>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      if (!($(".lt-ie9").length)) {
      
          TweenLite.from(".one", 1, {scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"});
          TweenLite.to(".one", 1, {opacity: 1, delay: .5});
      
          TweenLite.from(".two", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
          TweenLite.to(".two", 1, {opacity: 1, delay:1.5});
      
          TweenLite.from(".three", 1, {scaleX:.4, scaleY:.4, delay:2, ease: "Back.easeOut"});
          TweenLite.to(".three", 1, {opacity: 1, delay:2});
      
          TweenLite.to(".four", 1, {opacity: 1, delay:2.5});
          TweenLite.from(".four", 1, {scaleX:.4, scaleY:.4, delay:2.5, ease: "Back.easeOut"});
      
          TweenLite.to(".five", 1, {opacity: 1, delay:3});
          TweenLite.from(".five", 1, {scaleX:.4, scaleY:.4, delay:3, ease: "Back.easeOut"});
      
          TweenLite.to(".six", 1, {opacity: 1, delay:3.5});
          TweenLite.from(".six", 1, {scaleX:.4, scaleY:.4, delay:3.5, ease: "Back.easeOut"});
      
      
      }
    </script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>
