app/feedback-taller2.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
              <li><a href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA FEEDBACK</a></li><a class="box-logo" href="index.html">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu">
              <div class="container-fluid">
                <ul class="list-inline">
                  <li><a class="line-w" href="feedback-taller.html">Inicio</a></li>
                  <li><a href="feedback-antes.html">Antes</a></li>
                  <li><a href="feedback-durante.html">Durante</a></li>
                  <li><a href="feedback-despues.html">Después</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="p-revison">
            <div class="colp-left">
              <div class="titulo">Proceso de Revisión de Medio Año</div>
              <h5>Este proceso tiene 3 momentos:</h5>
            </div>
            <div class="colp-right">
              <div class="col-md-4 pdr-0 text-right">
                <p>Responsables:</p>
              </div>
              <div class="col-md-4 pd-0 pd-20">
                <div class="bg-green btn-p">
                  <h3>COLABORADOR</h3>
                </div>
                <div class="bg-red btn-p">
                  <h3>JEFE</h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="bg-yellow btn-p">
                  <h3>COLABORADOR <br>Y JEFE</h3>
                </div>
                <div class="bg-"></div>
              </div>
            </div>
            <div class="box-revision">
              <div class="row-p1">
                <div class="categoria"><strong>Antes</strong><br> del feedback</div>
                <div class="circle occult">
                  <h3>Inicio</h3>
                </div>
                <div class="btn-revision bg-green btnp-1 occult">
                  <p>Ingresa avances en Destaca</p>
                  <div class="flecha-btn">
                    <div class="line line-green1"></div><span class="c-green flecha-l glyphicon glyphicon-menu-right"></span>
                    <div class="line"></div>
                  </div>
                </div>
                <div class="btn-revision bg-green btnp-2 occult">
                  <p>Agenda la sesión a tu Jefe Directo</p>
                  <div class="flecha-btn">
                    <div class="line line-green1"></div><span class="c-green flecha-l glyphicon glyphicon-menu-right"></span>
                    <div class="line"></div>
                  </div>
                </div>
                <div class="btn-revision bg-red btnp-3 occult">
                  <p>Revisa la información ingresada<br> a Destaca</p>
                  <div class="flecha-btn">
                    <div class="line line-red1"></div><span class="c-red flecha-l glyphicon glyphicon-menu-right"></span>
                    <div class="line"></div>
                  </div>
                </div>
                <div class="btn-revision bg-red btnp-4 occult">
                  <p>Acepta la sesión en la agenda</p>
                  <div class="flecha-btn">
                    <div class="line line-red1"></div><span class="c-red flecha-l glyphicon glyphicon-menu-right"></span>
                    <div class="line"></div>
                  </div>
                </div>
                <div class="bg-red btnp-5 occult">
                  <p>Realiza una sesión de alineamiento con el Jefe Matricial (de ser el caso)</p>
                  <div class="flecha-btn">
                    <div class="line line-red1"></div><span class="c-red flecha-l glyphicon glyphicon-menu-right"></span>
                    <div class="line"></div>
                  </div>
                </div>
                <div class="btn-revision2 bg-red btnp-6 occult">
                  <p>Se prepara para dar un feedback claro y poderoso</p>
                </div>
                <div class="line-red occult"><span class="fecha-l glyphicon glyphicon-menu-down"></span></div>
              </div>
              <div class="row-p2">
                <div class="categoria"><strong>Durante</strong><br> el feedback</div>
                <div class="btn-revision2 bg-yellow btnpro-7 btnp-7 occult">
                  <p>Revisan avances en objetivos y competencias</p>
                  <div class="flecha-btn">
                    <div class="line line-yellow1"></div><span class="c-yellow flecha-l glyphicon glyphicon-menu-right"></span>
                    <div class="line"></div>
                  </div>
                </div>
                <div class="btn-revision2 bg-yellow btnpro-8 btnp-8 occult">
                  <p>Conversan sobre el feedback y generan compromisos</p>
                  <div class="flecha-btn">
                    <div class="line line-yellow1"></div><span class="c-yellow flecha-l glyphicon glyphicon-menu-right"></span>
                    <div class="line"></div>
                  </div>
                </div>
                <div class="btn-revision2 bg-yellow btnpro-8b btnp-8b occult">
                  <p>Definen siguientes fechas de revisión</p>
                  <div class="flecha-btn">
                    <div class="line line-yellow1"></div><span class="c-yellow flecha-l glyphicon glyphicon-menu-right"></span>
                    <div class="line"></div>
                  </div>
                </div>
                <div class="btn-revision2 bg-red btnpro-9a btnp-9a occult">
                  <p>Enviar el formulario al colaborador para validar comentarios</p>
                </div>
                <div class="line-yellow occult"><span class="fecha-l glyphicon glyphicon-menu-down"></span></div>
              </div>
              <div class="row-p3">
                <div class="categoria"><strong>Después </strong><br> del feedback</div>
                <div class="img-descarga"><a href="pdf/Proceso de Revisión de Medio Año - Momentos.pdf" download=""><img src="img/descarga11.jpg" alt=""></a></div>
                <div class="btn-revision2 bg-green btnpro-7 btnp-10 occult">
                  <p>Ingresa a Destaca, coloca los acuerdos y los envía al Jefe</p>
                  <div class="flecha-btn">
                    <div class="line line-green1"></div><span class="c-green flecha-l glyphicon glyphicon-menu-right"></span>
                    <div class="line"></div>
                  </div>
                </div>
                <div class="btn-revision2 bg-red btnpro-8 btnp-11 occult">
                  <p>Ingresa a Destaca y finaliza firmando</p>
                  <div class="flecha-btn">
                    <div class="line line-red1"></div><span class="c-red flecha-l glyphicon glyphicon-menu-right"></span>
                    <div class="line"></div>
                  </div>
                </div>
                <div class="btn-revision2 bg-green btnpro-9 btnp-12 occult">
                  <p>Recibe la encuesta post sesión y la completa</p>
                </div>
                <div class="circle2 occult">
                  <h3>Fin</h3>
                </div>
              </div>
            </div>
            <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-taller1.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-taller3.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
          </div>
          <footer>
            <p>Alicorp 2017 © Todos los derechos reservados.</p>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      if (!($(".lt-ie9").length)) {
          TweenLite.to(".circle", 1, {opacity: 1, delay:.5});
          TweenLite.from(".circle", 1, {y:"20px", delay:.5});
      
          TweenLite.to(".btnp-1", 1, {opacity: 1, delay:1.});
          TweenLite.from(".btnp-1", 1, {y:"20px", delay:1.});
      
          TweenLite.to(".btnp-2", 1, {opacity: 1, delay: 1.5});
          TweenLite.from(".btnp-2", 1, {y:"20px", delay: 1.5});
      
          TweenLite.to(".btnp-3", 1, {opacity: 1, delay: 2.});
          TweenLite.from(".btnp-3", 1, {y:"20px", delay: 2.});
      
          TweenLite.to(".btnp-4", 1, {opacity: 1, delay: 2.5});
          TweenLite.from(".btnp-4", 1, {y:"20px", delay: 2.5});
      
          TweenLite.to(".btnp-5", 1, {opacity: 1, delay: 3.});
          TweenLite.from(".btnp-5", 1, {y:"20px", delay: 3.});
      
          TweenLite.to(".btnp-6", 1, {opacity: 1, delay: 3.5});
          TweenLite.from(".btnp-6", 1, {y:"20px", delay: 3.5});
      
          TweenLite.to(".line-red", 1, {opacity: 1, delay: 4.});
          TweenLite.from(".line-red", 1, {y:"20px", delay: 4.});
      
          TweenLite.to(".btnp-7", 1, {opacity: 1, delay: 4.5});
          TweenLite.from(".btnp-7", 1, {y:"20px", delay: 4.5});
      
          TweenLite.to(".btnp-8", 1, {opacity: 1, delay: 5.});
          TweenLite.from(".btnp-8", 1, {y:"20px", delay: 5.});
      
          TweenLite.to(".btnp-8b", 1, {opacity: 1, delay: 5.5});
          TweenLite.from(".btnp-8b", 1, {y:"20px", delay: 5.5});
      
          TweenLite.to(".btnp-9a", 1, {opacity: 1, delay: 6});
          TweenLite.from(".btnp-9a", 1, {y:"20px", delay: 6});
      
          TweenLite.to(".btnp-9", 1, {opacity: 1, delay: 6.5});
          TweenLite.from(".btnp-9", 1, {y:"20px", delay: 6.5});
      
          TweenLite.to(".line-yellow", 1, {opacity: 1, delay: 7.});
          TweenLite.from(".line-yellow", 1, {y:"20px", delay: 7.});
      
          TweenLite.to(".btnp-10", 1, {opacity: 1, delay: 7.5});
          TweenLite.from(".btnp-10", 1, {y:"20px", delay: 7.5});
      
          TweenLite.to(".btnp-11", 1, {opacity: 1, delay: 8.});
          TweenLite.from(".btnp-11", 1, {y:"20px", delay: 8.});
      
          TweenLite.to(".btnp-12", 1, {opacity: 1, delay: 8.5});
          TweenLite.from(".btnp-12", 1, {y:"20px", delay: 8.5});
      
          TweenLite.to(".circle2", 1, {opacity: 1, delay: 9.});
          TweenLite.from(".circle2", 1, {y:"20px", delay: 9.});
      
      
      }
    </script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>

app/views/feedback-taller2.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a.line-w(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después

                .p-revison
                    .colp-left
                        .titulo Proceso de Revisión de Medio Año
                        h5 Este proceso tiene 3 momentos:
                    .colp-right
                        .col-md-4.pdr-0.text-right
                            p Responsables:
                        .col-md-4.pd-0.pd-20
                            .bg-green.btn-p
                                h3 COLABORADOR
                            .bg-red.btn-p
                                h3 JEFE
                        .col-md-4
                            .bg-yellow.btn-p
                                h3 COLABORADOR <br>Y JEFE
                            .bg-
                    .box-revision
                        .row-p1
                            .categoria <strong>Antes</strong><br> del feedback
                            .circle.occult
                                h3 Inicio
                            .btn-revision.bg-green.btnp-1.occult
                                p Ingresa avances en Destaca
                                .flecha-btn
                                    .line.line-green1
                                    span.c-green.flecha-l.glyphicon.glyphicon-menu-right
                                    .line

                            .btn-revision.bg-green.btnp-2.occult
                                p Agenda la sesión a tu Jefe Directo
                                .flecha-btn
                                    .line.line-green1
                                    span.c-green.flecha-l.glyphicon.glyphicon-menu-right
                                    .line

                            .btn-revision.bg-red.btnp-3.occult
                                p Revisa la información ingresada<br> a Destaca
                                .flecha-btn
                                    .line.line-red1
                                    span.c-red.flecha-l.glyphicon.glyphicon-menu-right
                                    .line

                            .btn-revision.bg-red.btnp-4.occult
                                p Acepta la sesión en la agenda
                                .flecha-btn
                                    .line.line-red1
                                    span.c-red.flecha-l.glyphicon.glyphicon-menu-right
                                    .line


                            .bg-red.btnp-5.occult
                                p Realiza una sesión de alineamiento con el Jefe Matricial (de ser el caso)
                                .flecha-btn
                                    .line.line-red1
                                    span.c-red.flecha-l.glyphicon.glyphicon-menu-right
                                    .line

                            .btn-revision2.bg-red.btnp-6.occult
                                p Se prepara para dar un feedback claro y poderoso

                            .line-red.occult
                                span.fecha-l.glyphicon.glyphicon-menu-down


                        .row-p2
                            .categoria <strong>Durante</strong><br> el feedback
                            .btn-revision2.bg-yellow.btnpro-7.btnp-7.occult
                                p Revisan avances en objetivos y competencias
                                .flecha-btn
                                    .line.line-yellow1
                                    span.c-yellow.flecha-l.glyphicon.glyphicon-menu-right
                                    .line


                            .btn-revision2.bg-yellow.btnpro-8.btnp-8.occult
                                p Conversan sobre el feedback y generan compromisos
                                .flecha-btn
                                    .line.line-yellow1
                                    span.c-yellow.flecha-l.glyphicon.glyphicon-menu-right
                                    .line


                            .btn-revision2.bg-yellow.btnpro-8b.btnp-8b.occult
                                p Definen siguientes fechas de revisión
                                .flecha-btn
                                    .line.line-yellow1
                                    span.c-yellow.flecha-l.glyphicon.glyphicon-menu-right
                                    .line


                            .btn-revision2.bg-red.btnpro-9a.btnp-9a.occult
                                p Enviar el formulario al colaborador para validar comentarios
                            .line-yellow.occult
                                span.fecha-l.glyphicon.glyphicon-menu-down

                        .row-p3
                            .categoria <strong>Después </strong><br> del feedback
                            .img-descarga
                                a(href="pdf/Proceso de Revisión de Medio Año - Momentos.pdf", download="")
                                    img(src="img/descarga11.jpg", alt="")
                            .btn-revision2.bg-green.btnpro-7.btnp-10.occult
                                p Ingresa a Destaca, coloca los acuerdos y los envía al Jefe
                                .flecha-btn
                                    .line.line-green1
                                    span.c-green.flecha-l.glyphicon.glyphicon-menu-right
                                    .line

                            .btn-revision2.bg-red.btnpro-8.btnp-11.occult
                                p Ingresa a Destaca y finaliza firmando
                                .flecha-btn
                                    .line.line-red1
                                    span.c-red.flecha-l.glyphicon.glyphicon-menu-right
                                    .line
                            .btn-revision2.bg-green.btnpro-9.btnp-12.occult
                                p Recibe la encuesta post sesión y la completa
                            .circle2.occult
                                h3 Fin



                    .row-btn
                        a.btn.btn-primary.button-crema-g.btn-l(href='feedback-taller1.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='feedback-taller3.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right

                include inc/footer

    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".circle", 1, {opacity: 1, delay:.5});
            TweenLite.from(".circle", 1, {y:"20px", delay:.5});

            TweenLite.to(".btnp-1", 1, {opacity: 1, delay:1.});
            TweenLite.from(".btnp-1", 1, {y:"20px", delay:1.});

            TweenLite.to(".btnp-2", 1, {opacity: 1, delay: 1.5});
            TweenLite.from(".btnp-2", 1, {y:"20px", delay: 1.5});

            TweenLite.to(".btnp-3", 1, {opacity: 1, delay: 2.});
            TweenLite.from(".btnp-3", 1, {y:"20px", delay: 2.});

            TweenLite.to(".btnp-4", 1, {opacity: 1, delay: 2.5});
            TweenLite.from(".btnp-4", 1, {y:"20px", delay: 2.5});

            TweenLite.to(".btnp-5", 1, {opacity: 1, delay: 3.});
            TweenLite.from(".btnp-5", 1, {y:"20px", delay: 3.});

            TweenLite.to(".btnp-6", 1, {opacity: 1, delay: 3.5});
            TweenLite.from(".btnp-6", 1, {y:"20px", delay: 3.5});

            TweenLite.to(".line-red", 1, {opacity: 1, delay: 4.});
            TweenLite.from(".line-red", 1, {y:"20px", delay: 4.});

            TweenLite.to(".btnp-7", 1, {opacity: 1, delay: 4.5});
            TweenLite.from(".btnp-7", 1, {y:"20px", delay: 4.5});

            TweenLite.to(".btnp-8", 1, {opacity: 1, delay: 5.});
            TweenLite.from(".btnp-8", 1, {y:"20px", delay: 5.});

            TweenLite.to(".btnp-8b", 1, {opacity: 1, delay: 5.5});
            TweenLite.from(".btnp-8b", 1, {y:"20px", delay: 5.5});

            TweenLite.to(".btnp-9a", 1, {opacity: 1, delay: 6});
            TweenLite.from(".btnp-9a", 1, {y:"20px", delay: 6});

            TweenLite.to(".btnp-9", 1, {opacity: 1, delay: 6.5});
            TweenLite.from(".btnp-9", 1, {y:"20px", delay: 6.5});

            TweenLite.to(".line-yellow", 1, {opacity: 1, delay: 7.});
            TweenLite.from(".line-yellow", 1, {y:"20px", delay: 7.});

            TweenLite.to(".btnp-10", 1, {opacity: 1, delay: 7.5});
            TweenLite.from(".btnp-10", 1, {y:"20px", delay: 7.5});

            TweenLite.to(".btnp-11", 1, {opacity: 1, delay: 8.});
            TweenLite.from(".btnp-11", 1, {y:"20px", delay: 8.});

            TweenLite.to(".btnp-12", 1, {opacity: 1, delay: 8.5});
            TweenLite.from(".btnp-12", 1, {y:"20px", delay: 8.5});

            TweenLite.to(".circle2", 1, {opacity: 1, delay: 9.});
            TweenLite.from(".circle2", 1, {y:"20px", delay: 9.});


        }
