app/views/feedback-antes3.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a.line-w(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después
                .intro-feedback.bg-reflexion
                    .btn-reflexion.n-1.occult
                        .text-reflexion
                            p Los colaboradores pueden pasar por distintos estados de ánimo cuando reciben feedback

                    img.hb-left(src="img/iconos/hb-left.png", alt="")

                    .row-btn.btn-centro-general
                        a.btn.btn-primary.button-crema-g.btn-l(href='feedback-antes1.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='feedback-antes4.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right
                .footer
                        p Alicorp 2017 © Todos los derechos reservados.

    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".btn-reflexion", 1, {opacity: 1, delay:.5});
            TweenLite.from(".btn-reflexion", 1, {y:"50px", delay:.5});

        }

app/feedback-antes3.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="c-red menu--active" href="feedback-taller.html">RDMA</a></li>
              <li><a href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA FEEDBACK</a></li><a class="box-logo" href="index.html">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu">
              <div class="container-fluid">
                <ul class="list-inline">
                  <li><a href="feedback-taller.html">Inicio</a></li>
                  <li><a class="line-w" href="feedback-antes.html">Antes</a></li>
                  <li><a href="feedback-durante.html">Durante</a></li>
                  <li><a href="feedback-despues.html">Después</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="intro-feedback bg-reflexion">
            <div class="btn-reflexion n-1 occult">
              <div class="text-reflexion">
                <p>Los colaboradores pueden pasar por distintos estados de ánimo cuando reciben feedback</p>
              </div>
            </div><img class="hb-left" src="img/iconos/hb-left.png" alt="">
            <div class="row-btn btn-centro-general"><a class="btn btn-primary button-crema-g btn-l" href="feedback-antes1.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-antes4.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
          </div>
          <div class="footer">
            <p>Alicorp 2017 © Todos los derechos reservados.</p>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      if (!($(".lt-ie9").length)) {
          TweenLite.to(".btn-reflexion", 1, {opacity: 1, delay:.5});
          TweenLite.from(".btn-reflexion", 1, {y:"50px", delay:.5});
      
      }
    </script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>
