app/views/index.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container.bg-home
                .content-home
                    p Curso de  Revisión de <span> Medio Año - CPE </span>
                    a.btn.btn-primary.button-red(href='#', role='button') Gestión del Desempeño
                    a.btn.btn-primary.button-crema(href='introduccion.html', role='button') COMENZAR
                        span.glyphicon.glyphicon-menu-right

app/index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container bg-home">
          <div class="content-home">
            <p>Curso de  Revisión de <span> Medio Año - CPE </span></p><a class="btn btn-primary button-red" href="#" role="button">Gestión del Desempeño</a><a class="btn btn-primary button-crema" href="introduccion.html" role="button">COMENZAR<span class="glyphicon glyphicon-menu-right"></span></a>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>
