app/introduccion5.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a class="ico-menu c-red menu--active" href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
              <li><a class="ico-menu" href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA DE FEEDBACK</a></li><a class="box-logo" href="index.html">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu submenu1"></div>
          </div>
          <div class="objetivos">
            <div class="objetivos-intro">
              <p class="sub-titulo c-red">Etapa 1</p>
              <div class="recuadro-objetivo bg-red">
                <p>Planificación</p>
              </div>
              <div class="btn-display bg-red">
                <h4>Objetivos Anuales</h4>
              </div>
              <div class="mapa-objetivo">
                <div class="box-1 one-1 occult">
                  <p>INICIO DEL <span>DECANTE</span></p>
                </div>
                <div class="flecha-1 one occult one-1 occult">
                  <div class="line"></div><span class="fecha-l glyphicon glyphicon-menu-down"></span>
                </div>
                <div class="flecha-2 two occult"><span class="fecha-l glyphicon glyphicon-menu-up"></span>
                  <div class="line"></div><span class="circle-cruz"></span>
                </div>
                <div class="box-g box-2 two-2 occult">
                  <h4>Objetivos <br><strong>Vicepresidente</strong></h4>
                </div>
                <div class="content-flecha-right">
                  <div class="flecha-1 flecha-two occult">
                    <div class="line"></div><span class="fecha-l glyphicon glyphicon-menu-right"></span>
                  </div>
                  <div class="flecha-2 flecha-one occult"><span class="fecha-l glyphicon glyphicon-menu-left"></span>
                    <div class="line"></div><span class="circle-cruz"></span>
                  </div>
                </div>
                <div class="box-3 box-texto two-2 occult">
                  <h4>ALTA DIRECCIÓN</h4>
                </div>
                <div class="box-g box-4 occult">
                  <h4>Objetivos <br><strong>Managing Directores</strong></h4>
                </div>
                <div class="content-flecha left1">
                  <div class="flecha-1 occult flecha-tres">
                    <div class="line"></div><span class="fecha-l glyphicon glyphicon-menu-down"></span>
                  </div>
                  <div class="flecha-2 occult flecha-cuatro"><span class="fecha-l glyphicon glyphicon-menu-up"></span>
                    <div class="line"></div><span class="circle-cruz"></span>
                  </div>
                </div>
                <div class="box-g box-5 occult">
                  <h4>Objetivos <br><strong> Directores</strong></h4>
                </div>
                <div class="texto-1 box-texto duo2 occult">
                  <h4>EJECUTIVOS</h4>
                </div>
                <div class="content-flecha left2">
                  <div class="flecha-1 occult flecha-five">
                    <div class="line"></div><span class="fecha-l glyphicon glyphicon-menu-down"></span>
                  </div>
                  <div class="flecha-2 occult flecha-six"><span class="fecha-l glyphicon glyphicon-menu-up"></span>
                    <div class="line"></div><span class="circle-cruz"></span>
                  </div>
                </div>
                <div class="box-g box-6 duo2 occult">
                  <h4>Objetivos <br><strong> Gerentes</strong></h4>
                </div>
                <div class="rectangulo occult"><span class="fecha-l glyphicon glyphicon-menu-left"></span><span class="circle-cruz1"></span></div>
                <div class="rectangulo-2 occult"><span class="fecha-l glyphicon glyphicon-menu-right"></span></div>
                <div class="box-g box-7 occult">
                  <h4>Objetivos <br><strong> Mando Medio Sr.</strong></h4>
                </div>
                <div class="content-flecha left3">
                  <div class="flecha-1 occult flecha-seven">
                    <div class="line"></div><span class="fecha-l glyphicon glyphicon-menu-down"></span>
                  </div>
                  <div class="flecha-2 occult flecha-eight"><span class="fecha-l glyphicon glyphicon-menu-up"></span>
                    <div class="line"></div><span class="circle-cruz"></span>
                  </div>
                </div>
                <div class="box-g box-8 occult eight">
                  <h4>Objetivos <br><strong> Mando Medio</strong></h4>
                </div>
                <div class="texto-2 box-texto occult occult eight">
                  <h4>MANDOS MEDIOS</h4>
                </div>
                <div class="rectangulo-3 occult"><span class="fecha-l glyphicon glyphicon-menu-left"></span><span class="circle-cruz4"></span></div>
                <div class="rectangulo-4 occult"><span class="fecha-l glyphicon glyphicon-menu-right"></span></div>
                <div class="box-g box-9 occult">
                  <h4>Objetivos <br><strong> C. Individuales Sr.</strong></h4>
                </div>
                <div class="content-flecha left4">
                  <div class="flecha-1 occult flecha-nine occult">
                    <div class="line"></div><span class="fecha-l glyphicon glyphicon-menu-down"></span>
                  </div>
                  <div class="flecha-2 occult flecha-ten occult"><span class="fecha-l glyphicon glyphicon-menu-up"></span>
                    <div class="line"></div><span class="circle-cruz"></span>
                  </div>
                </div>
                <div class="box-g box-10 occult duo3">
                  <h4>Objetivos <br><strong> C. Individuales</strong></h4>
                </div>
                <div class="box-texto texto-3 duo3 occult">
                  <h4>C. INDIVIDUALES</h4>
                </div>
                <div class="recuadro-objeto">
                  <div class="row mg-b">
                    <div class="col-md-2">
                      <div class="triangulo-1"></div>
                    </div>
                    <div class="col-md-6">
                      <p>DECANTE</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <div class="triangulo-2"></div>
                    </div>
                    <div class="col-md-6">
                      <p class="c-green">CONTRIBUCIÓN</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="introduccion4.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-taller.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
          <footer>
            <p>Alicorp 2017 © Todos los derechos reservados.</p>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      if (!($(".lt-ie9").length)) {
      
          TweenLite.to(".one-1", 1.5, {opacity:1, ease:"Back.easeInOut"});
      
          TweenLite.to(".two-2", 2.5, {opacity:1, ease:"Back.easeInOut", delay:1});
      
          TweenLite.to(".flecha-two", 3, {opacity:1, ease:"Back.easeInOut", delay:2});
      
          TweenLite.to(".box-4", 3.5, {opacity:1, ease:"Back.easeInOut", delay:3});
      
          TweenLite.to(".flecha-tres", 4, {opacity:1, ease:"Back.easeInOut", delay:4});
      
          TweenLite.to(".box-5", 4.5, {opacity:1, ease:"Back.easeInOut", delay:5});
      
          TweenLite.to(".box-5", 4.8, {opacity:1, ease:"Back.easeInOut", delay:56});
      
          TweenLite.to(".duo2", 5.5, {opacity:1, ease:"Back.easeInOut", delay:5});
      
          TweenLite.to(".flecha-five", 6.0, {opacity:1, ease:"Back.easeInOut", delay:5});
      
          TweenLite.to(".rectangulo-2", 6.5, {opacity:1, ease:"Back.easeInOut", delay:5});
      
          TweenLite.to(".box-7", 7.0, {opacity:1, ease:"Back.easeInOut", delay:5});
      
          TweenLite.to(".flecha-seven", 7.5, {opacity:1, ease:"Back.easeInOut", delay:5});
      
          TweenLite.to(".eight", 8.0, {opacity:1, ease:"Back.easeInOut", delay:6});
      
          TweenLite.to(".rectangulo-4", 8.5, {opacity:1, ease:"Back.easeInOut", delay:7});
      
          TweenLite.to(".box-9", 9.0, {opacity:1, ease:"Back.easeInOut", delay:8});
      
          TweenLite.to(".flecha-nine", 9.5, {opacity:1, ease:"Back.easeInOut", delay:8});
      
          TweenLite.to(".duo3", 10.0, {opacity:1, ease:"Back.easeInOut", delay:9});
      
          TweenLite.to(".flecha-ten", 10.5, {opacity:1, ease:"Back.easeInOut", delay:10});
      
          TweenLite.to(".rectangulo-3", 11.0, {opacity:1, ease:"Back.easeInOut", delay:10});
      
          TweenLite.to(".flecha-eight", 11.5, {opacity:1, ease:"Back.easeInOut", delay:10});
      
          TweenLite.to(".rectangulo", 12.0, {opacity:1, ease:"Back.easeInOut", delay:10});
      
          TweenLite.to(".flecha-six", 12.5, {opacity:1, ease:"Back.easeInOut", delay:10});
      
          TweenLite.to(".flecha-cuatro", 13, {opacity:1, ease:"Back.easeInOut", delay:10});
      
          TweenLite.to(".flecha-one", 13.5, {opacity:1, ease:"Back.easeInOut", delay:10});
      
          TweenLite.to(".two", 13.5, {opacity:1, ease:"Back.easeInOut", delay:10});
          TweenLite.to(".fin", 13.5, {opacity:1, ease:"Back.easeInOut", delay:10});
      
      
      }
    </script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>

app/views/introduccion5.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                include inc/menu
                .objetivos
                    .objetivos-intro
                        p.sub-titulo.c-red Etapa 1
                        .recuadro-objetivo.bg-red
                            p Planificación
                        .btn-display.bg-red
                            h4 Objetivos Anuales

                        .mapa-objetivo
                            .box-1.one-1.occult
                                p INICIO DEL <span>DECANTE</span>

                            .flecha-1.one.occult.one-1.occult
                                .line
                                span.fecha-l.glyphicon.glyphicon-menu-down

                            .flecha-2.two.occult
                                span.fecha-l.glyphicon.glyphicon-menu-up
                                .line
                                span.circle-cruz

                            .box-g.box-2.two-2.occult
                                h4 Objetivos <br><strong>Vicepresidente</strong>

                            .content-flecha-right
                                .flecha-1.flecha-two.occult
                                    .line
                                    span.fecha-l.glyphicon.glyphicon-menu-right
                                .flecha-2.flecha-one.occult
                                    span.fecha-l.glyphicon.glyphicon-menu-left
                                    .line
                                    span.circle-cruz

                            .box-3.box-texto.two-2.occult
                                h4 ALTA DIRECCIÓN

                            .box-g.box-4.occult
                                h4 Objetivos <br><strong>Managing Directores</strong>

                            .content-flecha.left1
                                .flecha-1.occult.flecha-tres
                                    .line
                                    span.fecha-l.glyphicon.glyphicon-menu-down
                                .flecha-2.occult.flecha-cuatro
                                    span.fecha-l.glyphicon.glyphicon-menu-up
                                    .line
                                    span.circle-cruz

                            .box-g.box-5.occult
                                h4 Objetivos <br><strong> Directores</strong>

                            .texto-1.box-texto.duo2.occult
                                h4 EJECUTIVOS

                            .content-flecha.left2
                                .flecha-1.occult.flecha-five
                                    .line
                                    span.fecha-l.glyphicon.glyphicon-menu-down
                                .flecha-2.occult.flecha-six
                                    span.fecha-l.glyphicon.glyphicon-menu-up
                                    .line
                                    span.circle-cruz

                            .box-g.box-6.duo2.occult
                                h4 Objetivos <br><strong> Gerentes</strong>

                            .rectangulo.occult
                                span.fecha-l.glyphicon.glyphicon-menu-left
                                span.circle-cruz1

                            .rectangulo-2.occult
                                span.fecha-l.glyphicon.glyphicon-menu-right

                            .box-g.box-7.occult
                                h4 Objetivos <br><strong> Mando Medio Sr.</strong>

                            .content-flecha.left3
                                .flecha-1.occult.flecha-seven
                                    .line
                                    span.fecha-l.glyphicon.glyphicon-menu-down
                                .flecha-2.occult.flecha-eight
                                    span.fecha-l.glyphicon.glyphicon-menu-up
                                    .line
                                    span.circle-cruz

                            .box-g.box-8.occult.eight
                                h4 Objetivos <br><strong> Mando Medio</strong>

                            .texto-2.box-texto.occult.occult.eight
                                h4 MANDOS MEDIOS

                            .rectangulo-3.occult
                                span.fecha-l.glyphicon.glyphicon-menu-left
                                span.circle-cruz4

                            .rectangulo-4.occult
                                span.fecha-l.glyphicon.glyphicon-menu-right

                            .box-g.box-9.occult
                                h4 Objetivos <br><strong> C. Individuales Sr.</strong>

                            .content-flecha.left4
                                .flecha-1.occult.flecha-nine.occult
                                    .line
                                    span.fecha-l.glyphicon.glyphicon-menu-down
                                .flecha-2.occult.flecha-ten.occult
                                    span.fecha-l.glyphicon.glyphicon-menu-up
                                    .line
                                    span.circle-cruz

                            .box-g.box-10.occult.duo3
                                h4 Objetivos <br><strong> C. Individuales</strong>

                            .box-texto.texto-3.duo3.occult
                                h4 C. INDIVIDUALES

                            .recuadro-objeto
                                .row.mg-b
                                    .col-md-2
                                        .triangulo-1
                                    .col-md-6
                                        p DECANTE
                                .row
                                    .col-md-2
                                        .triangulo-2
                                    .col-md-6
                                        p.c-green CONTRIBUCIÓN


                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='introduccion4.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='feedback-taller.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right

                include inc/footer


    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.to(".one-1", 1.5, {opacity:1, ease:"Back.easeInOut"});

            TweenLite.to(".two-2", 2.5, {opacity:1, ease:"Back.easeInOut", delay:1});

            TweenLite.to(".flecha-two", 3, {opacity:1, ease:"Back.easeInOut", delay:2});

            TweenLite.to(".box-4", 3.5, {opacity:1, ease:"Back.easeInOut", delay:3});

            TweenLite.to(".flecha-tres", 4, {opacity:1, ease:"Back.easeInOut", delay:4});

            TweenLite.to(".box-5", 4.5, {opacity:1, ease:"Back.easeInOut", delay:5});

            TweenLite.to(".box-5", 4.8, {opacity:1, ease:"Back.easeInOut", delay:56});

            TweenLite.to(".duo2", 5.5, {opacity:1, ease:"Back.easeInOut", delay:5});

            TweenLite.to(".flecha-five", 6.0, {opacity:1, ease:"Back.easeInOut", delay:5});

            TweenLite.to(".rectangulo-2", 6.5, {opacity:1, ease:"Back.easeInOut", delay:5});

            TweenLite.to(".box-7", 7.0, {opacity:1, ease:"Back.easeInOut", delay:5});

            TweenLite.to(".flecha-seven", 7.5, {opacity:1, ease:"Back.easeInOut", delay:5});

            TweenLite.to(".eight", 8.0, {opacity:1, ease:"Back.easeInOut", delay:6});

            TweenLite.to(".rectangulo-4", 8.5, {opacity:1, ease:"Back.easeInOut", delay:7});

            TweenLite.to(".box-9", 9.0, {opacity:1, ease:"Back.easeInOut", delay:8});

            TweenLite.to(".flecha-nine", 9.5, {opacity:1, ease:"Back.easeInOut", delay:8});

            TweenLite.to(".duo3", 10.0, {opacity:1, ease:"Back.easeInOut", delay:9});

            TweenLite.to(".flecha-ten", 10.5, {opacity:1, ease:"Back.easeInOut", delay:10});

            TweenLite.to(".rectangulo-3", 11.0, {opacity:1, ease:"Back.easeInOut", delay:10});

            TweenLite.to(".flecha-eight", 11.5, {opacity:1, ease:"Back.easeInOut", delay:10});

            TweenLite.to(".rectangulo", 12.0, {opacity:1, ease:"Back.easeInOut", delay:10});

            TweenLite.to(".flecha-six", 12.5, {opacity:1, ease:"Back.easeInOut", delay:10});

            TweenLite.to(".flecha-cuatro", 13, {opacity:1, ease:"Back.easeInOut", delay:10});

            TweenLite.to(".flecha-one", 13.5, {opacity:1, ease:"Back.easeInOut", delay:10});

            TweenLite.to(".two", 13.5, {opacity:1, ease:"Back.easeInOut", delay:10});
            TweenLite.to(".fin", 13.5, {opacity:1, ease:"Back.easeInOut", delay:10});


        }
