app/views/introduccion4.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                include inc/menu
                .etapas
                    .etapas-intro
                        .col-md-6
                            p.sub-titulo.c-red Etapa 1
                            .recuadro-procesos.bg-red.occult
                                p Planificación
                            .iconos-1
                                img.i-one.occult(src="img/iconos/line-1.png", alt="")
                                img.i-two.occult(src="img/iconos/c-red.png", alt="")

                        .col-md-6.pd-0
                            p.etapa.occult  En la etapa de <strong>Planificación</strong> revisamos<br> la importancia del <strong>alineamiento y decante</strong> de los objetivos individuales y/o planes de desarrollo de competencias para la <strong>contribución</strong> al logro de los <strong>objetivos</strong> organizacionales.

                    .row-btn
                        a.btn.btn-primary.button-crema-g.btn-l(href='introduccion3.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='introduccion5.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right

                include inc/footer


    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".recuadro-procesos", 1, {opacity: 1, delay:.5});
            TweenLite.from(".recuadro-procesos", 1, {y:"50px", delay:.5});

            TweenLite.to(".i-one", 1, {opacity: 1, delay:.9});
            TweenLite.from(".i-one", 1, {y:"50px", delay:.9});

            TweenLite.to(".i-two", 1, {opacity: 1, delay: 1.2});
            TweenLite.from(".i-two", 1, {y:"20px", delay: 1.2});

            TweenLite.to(".etapa", 1, {opacity: 1, delay: 1.5});
            TweenLite.from(".etapa", 1, {y:"50px", delay: 1.5});


        }

app/introduccion4.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a class="ico-menu c-red menu--active" href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
              <li><a class="ico-menu" href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA DE FEEDBACK</a></li><a class="box-logo" href="index.html">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu submenu1"></div>
          </div>
          <div class="etapas">
            <div class="etapas-intro">
              <div class="col-md-6">
                <p class="sub-titulo c-red">Etapa 1</p>
                <div class="recuadro-procesos bg-red occult">
                  <p>Planificación</p>
                </div>
                <div class="iconos-1"><img class="i-one occult" src="img/iconos/line-1.png" alt=""><img class="i-two occult" src="img/iconos/c-red.png" alt=""></div>
              </div>
              <div class="col-md-6 pd-0">
                <p class="etapa occult"> En la etapa de <strong>Planificación</strong> revisamos<br> la importancia del <strong>alineamiento y decante</strong> de los objetivos individuales y/o planes de desarrollo de competencias para la <strong>contribución</strong> al logro de los <strong>objetivos</strong> organizacionales.</p>
              </div>
            </div>
            <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="introduccion3.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="introduccion5.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
          </div>
          <footer>
            <p>Alicorp 2017 © Todos los derechos reservados.</p>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      if (!($(".lt-ie9").length)) {
          TweenLite.to(".recuadro-procesos", 1, {opacity: 1, delay:.5});
          TweenLite.from(".recuadro-procesos", 1, {y:"50px", delay:.5});
      
          TweenLite.to(".i-one", 1, {opacity: 1, delay:.9});
          TweenLite.from(".i-one", 1, {y:"50px", delay:.9});
      
          TweenLite.to(".i-two", 1, {opacity: 1, delay: 1.2});
          TweenLite.from(".i-two", 1, {y:"20px", delay: 1.2});
      
          TweenLite.to(".etapa", 1, {opacity: 1, delay: 1.5});
          TweenLite.from(".etapa", 1, {y:"50px", delay: 1.5});
      
      
      }
    </script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>
