app/introduccion1.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a class="ico-menu c-red menu--active" href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
              <li><a class="ico-menu" href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA DE FEEDBACK</a></li><a class="box-logo" href="index.html">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu submenu1"></div>
          </div>
          <div class="objetivo">
            <p class="titulo">Objetivos del curso</p>
            <div class="row">
              <div class="col-md-4 col-xs-4 colum-1 occult"><img src="img/iconos/1a.png" alt="">
                <h4 class="sub-titulo c-red">Reconocer</h4>
                <p class="texto"><strong>la importancia del feedback</strong> como instrumento para el crecimiento y desarrollo del líder y su equipo y el impacto de este espacio en la consecución de objetivos organizacionales.</p>
              </div>
              <div class="col-md-4 col-xs-4 colum-2 occult"><img src="img/iconos/2b.png" alt="">
                <h4 class="sub-titulo c-green">Revisar</h4>
                <p class="texto"><strong>las etapas del proceso</strong> y las recomendaciones para lograr una Revisión de Medio Año – RDMA, exitosa.</p>
              </div>
              <div class="col-md-4 col-xs-4 colum-3 occult"><img src="img/iconos/3c.png" alt="">
                <h4 class="sub-titulo c-yellow">Identificar</h4>
                <p class="texto"><strong>las principales <br> habilidades</strong> que el jefe<br> requiere poner<br> en práctica.</p>
              </div>
            </div>
            <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="introduccion.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="introduccion2.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
          </div>
          <footer>
            <p>Alicorp 2017 © Todos los derechos reservados.</p>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      if (!($(".lt-ie9").length)) {
          TweenLite.to(".colum-1", 1, {opacity: 1, delay:1});
          TweenLite.from(".colum-1", 1, {scaleX:.4, scaleY:.4, delay:1, ease: "Back.easeOut"});
      
          TweenLite.to(".colum-2", 1, {opacity: 1, delay:1.5});
          TweenLite.from(".colum-2", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
      
          TweenLite.to(".colum-3", 1, {opacity: 1, delay: 2.});
          TweenLite.from(".colum-3", 1, {scaleX:.4, scaleY:.4, delay:2., ease: "Back.easeOut"});
      
      
      }
    </script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>

app/views/introduccion1.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                include inc/menu

                .objetivo
                    p.titulo Objetivos del curso
                    .row
                        .col-md-4.col-xs-4.colum-1.occult
                            img(src="img/iconos/1a.png", alt="")
                            h4.sub-titulo.c-red Reconocer
                            p.texto <strong>la importancia del feedback</strong> como instrumento para el crecimiento y desarrollo del líder y su equipo y el impacto de este espacio en la consecución de objetivos organizacionales.
                        .col-md-4.col-xs-4.colum-2.occult
                            img(src="img/iconos/2b.png", alt="")
                            h4.sub-titulo.c-green Revisar
                            p.texto <strong>las etapas del proceso</strong> y las recomendaciones para lograr una Revisión de Medio Año – RDMA, exitosa.
                        .col-md-4.col-xs-4.colum-3.occult
                            img(src="img/iconos/3c.png", alt="")
                            h4.sub-titulo.c-yellow Identificar
                            p.texto <strong>las principales <br> habilidades</strong> que el jefe<br> requiere poner<br> en práctica.
                    .row-btn
                        a.btn.btn-primary.button-crema-g.btn-l(href='introduccion.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='introduccion2.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right



                include inc/footer

    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".colum-1", 1, {opacity: 1, delay:1});
            TweenLite.from(".colum-1", 1, {scaleX:.4, scaleY:.4, delay:1, ease: "Back.easeOut"});

            TweenLite.to(".colum-2", 1, {opacity: 1, delay:1.5});
            TweenLite.from(".colum-2", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});

            TweenLite.to(".colum-3", 1, {opacity: 1, delay: 2.});
            TweenLite.from(".colum-3", 1, {scaleX:.4, scaleY:.4, delay:2., ease: "Back.easeOut"});


        }
