app/views/resumen.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a.ico-menu.c-red(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.ico-menu(href="feedback-taller.html") RDMA
                        li
                            a.ico-menu(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu.menu--active(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")

                    .sub-menu.submenu1

                .intro-feedback.bg-resumen.h-resumen
                    .btn-w-feedback.lr-relative.btn-1.occult
                        p Resumen

                    .row-intro-feedback.l-328
                        .row-btn
                            a.btn.btn-primary.button-crema-g.btn-l(href='ejercicios5.html', role='button')
                                span.glyphicon.glyphicon-menu-left
                                | ANTERIOR
                            a.btn.btn-primary.button-crema-g.btn-r(href='resumen1.html', role='button')
                                | SIGUIENTE
                                span.glyphicon.glyphicon-menu-right

                    .footer
                        p Alicorp 2017 © Todos los derechos reservados.

    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".btn-1", 1, {opacity: 1, delay:.5});
            TweenLite.from(".btn-1", 1, {y:"50px", delay:.5});

        }

app/resumen.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a class="ico-menu c-red" href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
              <li><a class="ico-menu" href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu menu--active" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA FEEDBACK</a></li><a class="box-logo" href="index.html">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu submenu1"></div>
          </div>
          <div class="intro-feedback bg-resumen h-resumen">
            <div class="btn-w-feedback lr-relative btn-1 occult">
              <p>Resumen</p>
            </div>
            <div class="row-intro-feedback l-328">
              <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="ejercicios5.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="resumen1.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
            </div>
            <div class="footer">
              <p>Alicorp 2017 © Todos los derechos reservados.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      if (!($(".lt-ie9").length)) {
          TweenLite.to(".btn-1", 1, {opacity: 1, delay:.5});
          TweenLite.from(".btn-1", 1, {y:"50px", delay:.5});
      
      }
    </script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>
