app/resumen5.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a class="ico-menu c-red" href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="ico-menu" href="feedback-taller.html">RDMA</a></li>
              <li><a class="ico-menu" href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu menu--active" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA FEEDBACK</a></li><a class="box-logo" href="index.html">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu submenu1"></div>
          </div>
          <div class="contactos">
            <h2>Muchas gracias por tu <br>  tiempo y compromiso.</h2>
            <h3>Si tienes alguna pregunta o consulta<br> comunícate con tu Business Partner<br> o el equipo de Desarrollo Organizacional.</h3>
          </div>
          <div class="row-intro-feedback l-328">
            <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="resumen4.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a></div>
          </div>
          <footer>
            <p>Alicorp 2017 © Todos los derechos reservados.</p>
          </footer>
        </div>
      </div>
    </div>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>

app/views/resumen5.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a.ico-menu.c-red(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.ico-menu(href="feedback-taller.html") RDMA
                        li
                            a.ico-menu(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu.menu--active(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK
                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")

                    .sub-menu.submenu1
                .contactos
                    h2 Muchas gracias por tu <br>  tiempo y compromiso.
                    h3 Si tienes alguna pregunta o consulta<br> comunícate con tu Business Partner<br> o el equipo de Desarrollo Organizacional.


                .row-intro-feedback.l-328
                        .row-btn
                            a.btn.btn-primary.button-crema-g.btn-l(href='resumen4.html', role='button')
                                span.glyphicon.glyphicon-menu-left
                                | ANTERIOR





                include  inc/footer
