app/views/resumen2.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a.ico-menu.c-red(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.ico-menu(href="feedback-taller.html") DRMA
                        li
                            a.ico-menu(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu.menu--active(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")

                    .sub-menu.submenu1

                .content-resumen
                    .box-titulo-resumen
                        .col-md-1
                            img(src="img/iconos/pieza.png", alt="")
                        .col-md-6
                            .titulo Caso práctico
                    .box-titulo-resumen.true-false.h-63.mg-b1
                        .col-md-1
                        .col-md-11
                            .titulo Selecciona verdadero (V) o falso (F):
                            .row
                                .col-md-10
                                    p El proceso de RDMA empieza con la invitación del jefe

                                    p Antes de la sesión de feedback, el colaborador debe ingresar sus avances a Destaca

                                    p La sesión de feedback debe ser ejecutada en un ambiente fuera de elementos distractores

                                    p La responsabilidad de la ejecución de la RDMA es únicamente del jefe

                                    p En la etapa de RDMA pueda agregar o eliminar iniciativas

                                    p El proceso de RDMA termina con el envío de los acuerdos al jefe

                                .col-md-2
                                    form.col-respuesta
                                        select.selectpicker
                                            option -selecciona-
                                            option V
                                            option F
                                            option N.A

                                        select.selectpicker
                                            option -selecciona-
                                            option V
                                            option F
                                            option N.A

                                        select.selectpicker
                                            option -selecciona-
                                            option V
                                            option F
                                            option N.A

                                        select.selectpicker
                                            option -selecciona-
                                            option V
                                            option F
                                            option N.A

                                        select.selectpicker
                                            option -selecciona-
                                            option V
                                            option F
                                            option N.A

                                        select.selectpicker
                                            option -selecciona-
                                            option V
                                            option F
                                            option N.A

                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='resumen1.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='resumen3.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right


                include inc/footer

    script(type='text/javascript').
        jQuery(document).ready(function ($) {

            $('select').on('change', function() {

                    getSelects('selectpicker');

                });

                function getSelects(element_class) {
                    var array2 = [];
                    $('select.' + element_class).children('option:selected').each(function () {
                        var $this = $(this);
                        array2.push($this.text());
                    });

                    var index = array2.indexOf("-selecciona-");

                    if (index == -1) {

                        var array1 = ['F','V','V','F','N.A','F'];

                        var is_same = array1.length == array2.length && array1.every(function(element, index) {
                                    return element === array2[index];
                                });

                        if(is_same){

                           window.location.href ="resumen2bien.html";

                        }
                        else{

                            window.location.href ="resumen2mal.html";
                        }
                    }
                }  var array1 = ['Acierto','Error','Acierto','Error'];

        });

app/resumen2.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a class="ico-menu c-red" href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="ico-menu" href="feedback-taller.html">DRMA</a></li>
              <li><a class="ico-menu" href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu menu--active" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA FEEDBACK</a></li><a class="box-logo" href="index.html">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu submenu1"></div>
          </div>
          <div class="content-resumen">
            <div class="box-titulo-resumen">
              <div class="col-md-1"><img src="img/iconos/pieza.png" alt=""></div>
              <div class="col-md-6">
                <div class="titulo">Caso práctico</div>
              </div>
            </div>
            <div class="box-titulo-resumen true-false h-63 mg-b1">
              <div class="col-md-1"></div>
              <div class="col-md-11">
                <div class="titulo">Selecciona verdadero (V) o falso (F):</div>
                <div class="row">
                  <div class="col-md-10">
                    <p>El proceso de RDMA empieza con la invitación del jefe</p>
                    <p>Antes de la sesión de feedback, el colaborador debe ingresar sus avances a Destaca</p>
                    <p>La sesión de feedback debe ser ejecutada en un ambiente fuera de elementos distractores</p>
                    <p>La responsabilidad de la ejecución de la RDMA es únicamente del jefe</p>
                    <p>En la etapa de RDMA pueda agregar o eliminar iniciativas</p>
                    <p>El proceso de RDMA termina con el envío de los acuerdos al jefe</p>
                  </div>
                  <div class="col-md-2">
                    <form class="col-respuesta">
                      <select class="selectpicker">
                        <option>-selecciona-</option>
                        <option>V</option>
                        <option>F</option>
                        <option>N.A</option>
                      </select>
                      <select class="selectpicker">
                        <option>-selecciona-</option>
                        <option>V</option>
                        <option>F</option>
                        <option>N.A</option>
                      </select>
                      <select class="selectpicker">
                        <option>-selecciona-</option>
                        <option>V</option>
                        <option>F</option>
                        <option>N.A</option>
                      </select>
                      <select class="selectpicker">
                        <option>-selecciona-</option>
                        <option>V</option>
                        <option>F</option>
                        <option>N.A</option>
                      </select>
                      <select class="selectpicker">
                        <option>-selecciona-</option>
                        <option>V</option>
                        <option>F</option>
                        <option>N.A</option>
                      </select>
                      <select class="selectpicker">
                        <option>-selecciona-</option>
                        <option>V</option>
                        <option>F</option>
                        <option>N.A</option>
                      </select>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="resumen1.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="resumen3.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
          <footer>
            <p>Alicorp 2017 © Todos los derechos reservados.</p>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      jQuery(document).ready(function ($) {
      
          $('select').on('change', function() {
      
                  getSelects('selectpicker');
      
              });
      
              function getSelects(element_class) {
                  var array2 = [];
                  $('select.' + element_class).children('option:selected').each(function () {
                      var $this = $(this);
                      array2.push($this.text());
                  });
      
                  var index = array2.indexOf("-selecciona-");
      
                  if (index == -1) {
      
                      var array1 = ['F','V','V','F','N.A','F'];
      
                      var is_same = array1.length == array2.length && array1.every(function(element, index) {
                                  return element === array2[index];
                              });
      
                      if(is_same){
      
                         window.location.href ="resumen2bien.html";
      
                      }
                      else{
      
                          window.location.href ="resumen2mal.html";
                      }
                  }
              }  var array1 = ['Acierto','Error','Acierto','Error'];
      
      });
    </script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>
