app/ultimo.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <ul class="list-inline menu-principal">
              <li><a href="introduccion.html">INTRODUCCIÓN</a></li>
              <li><a class="c-red menu--active" href="feedback-taller.html">FEEDBACK</a></li>
              <li><a href="ejercicios.html">EJERCICIOS</a></li>
              <li><a class="ico-menu" href="resumen.html">RESUMEN</a></li>
              <li><a class="ico-menu" href="feedback-durante.html">METODOLOGÍA</a></li><a class="box-logo" href="">
                <div class="card-logo"><img src="img/iconos/logo.png" alt=""></div></a>
            </ul>
            <div class="sub-menu">
              <div class="container-fluid">
                <ul class="list-inline">
                  <li><a class="line-w" href="feedback-taller.html">Taller</a></li>
                  <li><a href="feedback-antes.html">Antes</a></li>
                  <li><a href="feedback-durante.html">Durante</a></li>
                  <li><a href="feedback-despues.html">Duespués</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="content-feedback">
            <p class="titulo">Ejercicio de Aprendizaje</p>
            <h4>Relaciona cada característica con su descripción.</h4>
            <div class="ejercicios-aprendizaje">
              <div class="row">
                <div class="col-md-3 pd-3 tl_block1 occult" style="z-index:10;">
                  <div class="valid-message">
                    <div class="good" style="display:none;">¡Muy bien!<br><a class="yellowButton" href="m-competencias5.html" style="margin-top:15px;">Continuar</a></div>
                    <div class="bad" style="display:none;">Vuelve a intentarlo<br><a class="yellowButton" href="#" style="margin-top:15px;">Intentar nuevamente</a></div>
                  </div>
                  <div class="col-md-12 padd dropped" id="co">
                    <div class="btn-green">
                      <h4>A la medida</h4>
                    </div>
                  </div>
                  <div class="col-md-12 padd dropped" id="cpo">
                    <div class="btn-green">
                      <h4>Es claro</h4>
                    </div>
                  </div>
                  <div class="col-md-12 padd dropped" id="desc">
                    <div class="btn-green">
                      <h4>Se registra</h4>
                    </div>
                  </div>
                  <div class="col-md-12 padd dropped" id="det">
                    <div class="btn-green">
                      <h4>Es constructivo</h4>
                    </div>
                  </div>
                  <div class="col-md-12 padd dropped" id="dett">
                    <div class="btn-green">
                      <h4>Es oportuno</h4>
                    </div>
                  </div>
                  <div class="col-md-12 padd dropped" id="dettt">
                    <div class="btn-green">
                      <h4>Es coherente</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 tl_block2 occult">
                  <div class="col-md-12 padd">
                    <div id="wrap1"><img src="img/ap_droppe.png" alt=""></div>
                  </div>
                  <div class="col-md-12 padd">
                    <div id="wrap2"><img src="img/ap_droppe.png" alt=""></div>
                  </div>
                  <div class="col-md-12 padd">
                    <div id="wrap3"><img src="img/ap_droppe.png" alt=""></div>
                  </div>
                  <div class="col-md-12 padd">
                    <div id="wrap4"><img src="img/ap_droppe.png" alt=""></div>
                  </div>
                  <div class="col-md-12 padd">
                    <div id="wrap5"><img src="img/ap_droppe.png" alt=""></div>
                  </div>
                  <div class="col-md-12 padd">
                    <div id="wrap6"><img src="img/ap_droppe.png" alt=""></div>
                  </div>
                </div>
                <div class="col-md-6 tl_block3 col-right pd-0 occult">
                  <div class="item-ejercicios">
                    <p>Los comportamientos se basan en evidencias y<br> no en suposiciones.</p>
                  </div>
                  <div class="item-ejercicios-g">
                    <p>Con la finalidad de repasar los planes y<br> acciones definidas.</p>
                  </div>
                  <div class="item-ejercicios">
                    <p>Se customiza de acuerdo al colaborador a quien se<br> dará feedback.</p>
                  </div>
                  <div class="item-ejercicios-g">
                    <p>Está alineado a lo que se espera del colaborador y a evidencias<br> de su comportamiento</p>
                  </div>
                  <div class="item-ejercicios">
                    <p>Debe estar orientado a motivar y desarrollar<br> al colaborador.</p>
                  </div>
                  <div class="item-ejercicios-g">
                    <p>Debe darse idealmente lo más pronto posible<br> luego del evento.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="feedback-taller4.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="feedback-antes.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
          <footer>
            <p>Alicorp 2017 © Todos los derechos reservados.</p>
          </footer>
        </div>
      </div>
    </div>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>

app/views/ultimo.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") FEEDBACK
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA

                        a.box-logo(href="")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a.line-w(href='feedback-taller.html') Taller
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Duespués

                .content-feedback
                    p.titulo Ejercicio de Aprendizaje
                    h4 Relaciona cada característica con su descripción.
                    .ejercicios-aprendizaje
                        .row
                            .col-md-3.pd-3.tl_block1.occult(style='z-index:10')
                              .valid-message
                                .good(style='display:none')
                                  | ¡Muy bien!
                                  br
                                  a.yellowButton(href='m-competencias5.html', style='margin-top:15px')
                                    | Continuar
                                .bad(style='display:none')
                                  | Vuelve a intentarlo
                                  br
                                  a.yellowButton(href='#', style='margin-top:15px')
                                    | Intentar nuevamente
                              #co.col-md-12.padd.dropped
                                .btn-green
                                    h4 A la medida
                              #cpo.col-md-12.padd.dropped
                                .btn-green
                                    h4 Es claro
                              #desc.col-md-12.padd.dropped
                                .btn-green
                                    h4 Se registra
                              #det.col-md-12.padd.dropped
                                .btn-green
                                    h4 Es constructivo
                              #dett.col-md-12.padd.dropped
                                .btn-green
                                    h4 Es oportuno
                              #dettt.col-md-12.padd.dropped
                                .btn-green
                                    h4 Es coherente



                            .col-md-3.tl_block2.occult
                              .col-md-12.padd
                                #wrap1
                                    img(src="img/ap_droppe.png", alt="")
                              .col-md-12.padd
                                #wrap2
                                    img(src="img/ap_droppe.png", alt="")
                              .col-md-12.padd
                                #wrap3
                                    img(src="img/ap_droppe.png", alt="")
                              .col-md-12.padd
                                #wrap4
                                    img(src="img/ap_droppe.png", alt="")
                              .col-md-12.padd
                                #wrap5
                                    img(src="img/ap_droppe.png", alt="")
                              .col-md-12.padd
                                #wrap6
                                    img(src="img/ap_droppe.png", alt="")

                            .col-md-6.tl_block3.col-right.pd-0.occult
                                .item-ejercicios
                                    p Los comportamientos se basan en evidencias y<br> no en suposiciones.
                                .item-ejercicios-g
                                    p Con la finalidad de repasar los planes y<br> acciones definidas.
                                .item-ejercicios
                                    p Se customiza de acuerdo al colaborador a quien se<br> dará feedback.
                                .item-ejercicios-g
                                    p Está alineado a lo que se espera del colaborador y a evidencias<br> de su comportamiento
                                .item-ejercicios
                                    p Debe estar orientado a motivar y desarrollar<br> al colaborador.
                                .item-ejercicios-g
                                    p Debe darse idealmente lo más pronto posible<br> luego del evento.

                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='feedback-taller4.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='feedback-antes.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right



                include inc/footer
